<div class="row">
  <div class="col-12 ovic-ui-table site-thpt" style="height:calc(100vh - 90px)" [class.ovic-is-loading]="isLoading">
    <div class="p-datatable-header" style="height:65px; border-bottom:1px solid #CCC;">
      <h3 class="tbl-title ">Danh sách hủy dự thi</h3>
      <div class="search-block ui-table-globalfilter-container ">
        <div class="d-flex align-items-center">
          <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
            <div class="d-flex" style="gap:10px;">
              <div class="search-block__elm ">
                <span class="p-input-icon-right">
                  <i class="pi pi-search"></i>
                  <input type="text" pInputText style="height:42px" placeholder="Vd: Trần Văn A..."
                         (input)="onInputChange($event.target['value'])"/>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ovic-wrap-table-rps ovic-scroll-style" style="height:calc(100% - 65px - 60px);background: #dedede;">
<!--    <div class="ovic-wrap-table-rps ovic-scroll-style overflow-hidden overflow-y-auto" style="height:calc(100% - 65px - 60px);background: #dedede;">-->
      <div class="ovic-wrap-table-rps__inner">
        <p-table class="w-100"  [(selection)]="listData" styleClass="p-datatable-gridlines" [value]="listData" [rowHover]="true"
                 [rows]="rows" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="isLoading">
          <ng-template pTemplate="header" class="d-bock">
            <tr>

              <th class="ovic-w-40px text-center ">STT</th>
              <th class="ovic-w-40px text-center "><i class="pi pi-lock"></i></th>
              <th class="ovic-w-120px text-center ">Ảnh chân dung</th>
              <th class="ovic-w-250px text-center ">Họ tên</th>
              <th class="ovic-w-180px text-center">Ngày sinh</th>
              <th class="ovic-w-80px text-center">Giới tính</th>
              <th class="ovic-w-120px text-center">Số điện thoại</th>
              <th class="text-center">Email</th>
              <th class="ovic-w-150px text-center">Số CCCD</th>
              <th class="text-center">Nơi sinh</th>

            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
              <td class="text-center">{{ item['_indexTable'] }}</td>
              <td class="text-center"><p-inputSwitch [ngModel]="item['lock'] === 1 " (click)="btnUnLock(item)"></p-inputSwitch></td>
              <td class="text-center d-flex justify-content-center">

                <div *ngIf="item['_have_avata'] === true" class="thanh-toan true text-center" pTooltip="Đã cập nhật ảnh chân dung" tooltipPosition="right">
                  <i class="pi pi-check-circle"></i>
                </div>
                <div *ngIf="item['_have_avata'] === false" class="thanh-toan wait text-center" pTooltip="Chưa cập nhật" tooltipPosition="right">
                  <i class="pi pi-exclamation-triangle"></i>
                </div>
              </td>


              <td class="text-left">
                <div class="d-flex justify-content-between p-1">
                  <span>{{ item['hoten'] }}</span>
                  <i class="d-flex align-items-center pi pi-ellipsis-v" style="padding:4px;" [matMenuTriggerFor]="menu"></i>
                  <mat-menu #menu="matMenu" class="d-flex flex-column w-100 h-100">
                    <button class="btn-menu-material excel" (click)="btnEditAcount(item)">
                      <i class="pi pi-user"></i>
                      <span>Thông tin tài khoản</span>
                    </button>
                    <button class="btn-menu-material acsses" (click)="btnEDit(item)">
                      <i class="pi pi-file-edit"></i>
                      <span>Cập nhật thông tin</span>
                    </button>
                    <button class="btn-menu-material delete" (click)="btnDelete(item)">
                      <i class="pi pi-trash"></i>
                      <span>Xóa</span>
                    </button>
                  </mat-menu>
                </div>
              </td>

              <td class="text-center">{{ item['ngaysinh'] }}</td>
              <td class="ovic-w-80px text-center">{{ item['_gioitinh'] }}</td>
              <td class="ovic-w-80px text-right">{{ item['phone'] }}</td>

              <td class="text-left">{{ item['email'] }}</td>

              <td class="text-right">{{ item['cccd_so'] }}</td>
              <td class="text-left">{{ item['noisinh'] }}</td>

            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="10">
                Không có dữ liệu thí sinh!
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <p-paginator class="duthi_panigator" [showCurrentPageReport]="true" [rows]="rows" [totalRecords]="recordsTotal"
                 [pageLinkSize]="5"
                 (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>


<ng-template #fromUpdate>
  <div class="ovic-side-navigation-content">
    <div class="ovic-side-navigation-content__head">
      <h4 class="ovic-side-navigation-content__head__title">THÔNG TIN THÍ SINH</h4>
      <button (click)="closeForm()" pButton pRipple type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-text close ovic-side-navigation-content__head__btn-close"></button>
    </div>
    <div class="ovic-side-navigation-content__body ovic-scroll-style">
      <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
        <div class="ovic-container">
          <form [formGroup]="formSave" autocomplete="off">
            <div class="row tt-canhan">
              <div class="col-12" style="margin-top:30px;font-size:16px;font-weight:500;">
                I. THÔNG TIN CÁ NHÂN THÍ SINH
              </div>
            </div>
            <div class="row ">
              <div class="col-12 col-lg-8">
                <div class="row row-cols-1">
                  <div class="col col-lg-4 col-xl-4">
                    <div class="form-row" [class.fieldset--error]="f['hoten'].touched && f['hoten'].invalid"
                         [class.fieldset--invalid]="f['hoten'].touched && f['hoten'].valid">
                      <label>Họ và tên <span class="ovic-mark">*</span></label>
                      <input pInputText type="text" placeholder="Vd: Nguyễn Văn A" formControlName="hoten" autocomplete="off">
                    </div>
                  </div>
                  <div class="col col-lg-4 col-xl-4">
                    <div class="form-row" [class.fieldset--error]="f['hoten_tiengtrung'].touched && f['hoten_tiengtrung'].invalid"
                         [class.fieldset--invalid]="f['hoten_tiengtrung'].touched && f['hoten_tiengtrung'].valid">
                      <label>Họ và tên (Tiếng Trung Quốc)</label>
                      <input pInputText type="text" placeholder="Vd: 陈明龙" formControlName="hoten_tiengtrung" autocomplete="off">
                    </div>
                  </div>
                  <div class="col col-lg-4 col-xl-4 ">
                    <div class="form-row" [class.fieldset--error]="f['loai_giayto'].touched && f['loai_giayto'].invalid"
                         [class.fieldset--invalid]="f['loai_giayto'].touched && f['loai_giayto'].valid">
                      <label>Loại giấy tờ<span class="ovic-mark">*</span></label>
                      <p-dropdown class="w-100" [style]="{'width':'100%'}" [options]="data_Loaigiayto" formControlName="loai_giayto"
                                  optionLabel="name" optionValue="value" placeholder="CCCD (hoặc hộ chiếu)"></p-dropdown>
                    </div>
                  </div>

                </div>
                <div class="row row-cols-1">
                </div>
                <div class="row row-cols-1">
                  <div class="col col-lg-4 col-xl-4">
                    <div class="form-row" [class.fieldset--error]="f['phone'].touched && f['phone'].invalid"
                         [class.fieldset--invalid]="f['phone'].touched && f['phone'].valid">
                      <label>Số điện thoại<span class="ovic-mark">*</span></label>
                      <input pInputText type="text" placeholder="Vd: 0112233445" formControlName="phone"
                             autocomplete="off">
                    </div>
                  </div>
                  <div class="col col-lg-4 col-xl-4">
                    <div class="form-row" [class.fieldset--error]="f['ngaysinh'].touched && f['ngaysinh'].invalid"
                         [class.fieldset--invalid]="f['ngaysinh'].touched && f['ngaysinh'].valid">
                      <label>Ngày sinh <span class="ovic-mark">*</span></label>
                      <p-inputMask class="w-100" formControlName="ngaysinh" mask="99/99/9999" placeholder="__/__/____"
                                   slotChar="dd/mm/yyyy"></p-inputMask>
                      <span class="test-member__from__col__span"
                            *ngIf="f['ngaysinh'].touched && f['ngaysinh'].invalid">{{ f[ 'ngaysinh' ].getError(
                        'theDateDoesNotExist' ) ? 'Ngày không tồn tại' : 'Định dạng ngày chưa đúng' }}</span>
                    </div>
                  </div>
                  <div class="col col-lg-4 col-xl-4 ">
                    <div class="form-row" [class.fieldset--error]="f['gioitinh'].touched && f['gioitinh'].invalid"
                         [class.fieldset--invalid]="f['gioitinh'].touched && f['gioitinh'].valid">
                      <label>Giới tính<span class="ovic-mark">*</span></label>
                      <p-dropdown class="w-100" [style]="{'width':'100%'}" [options]="sex" formControlName="gioitinh"
                                  optionLabel="name" optionValue="code" placeholder="Chọn..."></p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="row row-cols-1">
                  <div class="col col-lg-4 col-xl-4">
                    <div class="form-row" [class.fieldset--error]="f['dantoc'].touched && f['dantoc'].invalid"
                         [class.fieldset--invalid]="f['dantoc'].touched && f['dantoc'].valid">
                      <label>Dân tộc </label>
                      <p-dropdown class="w-100" [filter]="true" [style]="{'width':'100%'}" [options]="dantoc"
                                  formControlName="dantoc" optionLabel="label" optionValue="label" [showClear]=true
                                  placeholder="Chọn..."></p-dropdown>
                    </div>

                  </div>
                  <div class="col col-lg-4 col-xl-4">
                    <div class="form-row">
                      <label>Tôn giáo</label>
                      <input pInputText type="text" placeholder="Vd: không,..." formControlName="tongiao"
                             autocomplete="off">
                    </div>
                  </div>
                  <div class="col col-lg-4 col-xl-4">
                    <div class="form-row" [class.fieldset--error]="f['noisinh'].touched && f['noisinh'].invalid"
                         [class.fieldset--invalid]="f['noisinh'].touched && f['noisinh'].valid">
                      <label>Nơi sinh</label>
                      <p-dropdown class="w-100" [filter]="true" [style]="{'width':'100%'}" [options]="provinceOptions"
                                  formControlName="noisinh" optionLabel="name" optionValue="name"
                                  placeholder="Chọn..."></p-dropdown>
                    </div>
                  </div>

                </div>
                <div class="row row-cols-1">
                  <div class="col col-lg-4 col-xl-4">
                    <div class="form-row" [class.fieldset--error]="f['namhoc_tiengtrung'].touched && f['namhoc_tiengtrung'].invalid"
                         [class.fieldset--invalid]="f['namhoc_tiengtrung'].touched && f['namhoc_tiengtrung'].valid">
                      <label>Số năm học tiếng trung <span class="ovic-mark">*</span></label>
                      <input pInputText type="text" placeholder="Vd: 1,..." formControlName="namhoc_tiengtrung" autocomplete="off">
                    </div>
                  </div>

                  <div class="col col-lg-4 col-xl-4">
                    <div class="form-row" [class.fieldset--error]="f['ma_quoctich'].touched && f['ma_quoctich'].invalid"
                         [class.fieldset--invalid]="f['ma_quoctich'].touched && f['ma_quoctich'].valid">
                      <label>Quốc tịch<span class="ovic-mark">*</span></label>
                      <p-dropdown class="w-100" [filter]="true" [style]="{'width':'100%'}" [options]="dmQuoctich"
                                  formControlName="ma_quoctich" optionLabel="ten" optionValue="ma_quoctich"
                                  placeholder="Chọn..."></p-dropdown>
                    </div>
                  </div>

                  <div class="col col-lg-4 col-xl-4">
                    <div class="form-row" [class.fieldset--error]="f['ngonngu_me'].touched && f['ngonngu_me'].invalid"
                         [class.fieldset--invalid]="f['ngonngu_me'].touched && f['ngonngu_me'].valid">
                      <label>Ngôn ngữ mẹ<span class="ovic-mark">*</span></label>
                      <p-dropdown class="w-100" [filter]="true" [style]="{'width':'100%'}" [options]="dmNgonngume"
                                  formControlName="ngonngu_me" optionLabel="ten" optionValue="ma_ngonngu"
                                  placeholder="Chọn..."></p-dropdown>
                    </div>
                  </div>

                </div>
              </div>
              <div class="mar-14px col-12 col-lg-4">
                <ovic-avata-type-thpt [disabled]=" f['status'].value ===1" [formField]="f['anh_chandung']"
                                      [aspectRatio]="2 / 3" [accept]="['.jpg', '.png', '.jpeg']" [site]="true"
                                      [textView]="'<span>Tải ảnh chân dung(*)</span><p>(Dung lượng file tối đa 50kb.)</p>'"
                                      [file_size]="50" [file_name]="file_name"
                ></ovic-avata-type-thpt>
              </div>
            </div>
            <div class="row ">
              <div class="col-12">
                <div class="form-row">
                  <label for=></label>
                  <div class="row w-100 m-0">
                    <div class="p-0 col-12 col-lg-6 mt-1">
                      <ovic-avata-type-thpt [formField]="f['cccd_img_truoc']" [aspectRatio]="5 / 3"
                                            [disabled]=" f['status'].value ===1" [accept]="['.jpg', '.png', '.jpeg']"
                                            [textView]="'Tải ảnh CCCD(Hoặc hộ chiếu) mặt trước (*)'"></ovic-avata-type-thpt>
                    </div>
                    <div class="p-0 col-12 col-lg-6 mt-1">
                      <ovic-avata-type-thpt [formField]="f['cccd_img_sau']" [aspectRatio]="5 / 3"
                                            [disabled]=" f['status'].value ===1" [accept]="['.jpg', '.png', '.jpeg']"
                                            [textView]="'Tải ảnh CCCD(Hoặc hộ chiếu) mặt sau(*)'"></ovic-avata-type-thpt>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row  row-cols-1">
              <div class="col-12 col-lg-4 col-md-4">
                <div class="form-row" [class.fieldset--error]="f['cccd_so'].touched && f['cccd_so'].invalid"
                     [class.fieldset--invalid]="f['cccd_so'].touched && f['cccd_so'].valid">
                  <label>Số CCCD(Hoặc hộ chiếu) <span class="ovic-mark">*</span></label>
                  <input type="text" placeholder="Vd: 0918000112331" formControlName="cccd_so" autocomplete="off">
                </div>
              </div>
              <div class="col-12 col-lg-4 col-md-4">
                <div class="form-row" [class.fieldset--error]="f['cccd_ngaycap'].touched && f['cccd_ngaycap'].invalid"
                     [class.fieldset--invalid]="f['cccd_ngaycap'].touched && f['cccd_ngaycap'].valid">
                  <label>Ngày cấp <span class="ovic-mark">*</span></label>
                  <p-inputMask class="w-100" formControlName="cccd_ngaycap" mask="99/99/9999" placeholder="__/__/____"
                               slotChar="dd/mm/yyyy"></p-inputMask>
                  <span class="test-member__from__col__span"
                        *ngIf="f['cccd_ngaycap'].touched && f['cccd_ngaycap'].invalid">{{
                      f[ 'cccd_ngaycap' ].getError(
                        'theDateDoesNotExist' ) ? 'Ngày không tồn tại' : 'Định dạng ngày chưa đúng' }}</span>
                </div>
              </div>
              <div class="col-12 col-lg-4 col-md-4">
                <div class="form-row" [class.fieldset--error]="f['cccd_noicap'].touched && f['cccd_noicap'].invalid"
                     [class.fieldset--invalid]="f['cccd_noicap'].touched && f['cccd_noicap'].valid">
                  <label>Nơi cấp <span class="ovic-mark">*</span></label>
                  <input type="text" placeholder="Vd: Cục quản lý hành chính về TTXH" formControlName="cccd_noicap" autocomplete="off">

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-row">
                  <label>Địa chỉ thường trú<span class="ovic-mark">*</span></label>
                  <ovic-input-address-four-layouts [disabled]=" f['status'].value ===1" class="w-100"
                                                   [formField]="f['thuongtru_diachi']"
                                                   (onChanges)="changeThuongchu($event)"></ovic-input-address-four-layouts>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex align-items-center" >
                <div class="checkCamket" >
                  <p-checkbox formControlName="camket" [binary]="true" inputId="binary"></p-checkbox>
                  <div>Thí sinh cam kết những thông tin kê khai ở trên là đúng, nếu sai thí sinh có thể sẽ bị hủy tư cách dự thi và kết quả thi.</div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="ovic-side-navigation-content__foot">
      <span class="ovic-side-navigation-content__foot__notice mr-auto"><mark>(*)</mark> bắt buộc phải nhập</span>
      <button pButton pRipple type="button" [label]="'Cập nhật'" icon="pi pi-save" (click)="btnSaveEdit()"
              class="p-button-success"></button>
      <button pButton pRipple type="button" label="Đóng" class="p-button-secondary ml-3" icon="pi pi-times"
              (click)="closeForm()"></button>
    </div>
  </div>
</ng-template>


<ng-template #templateWaiting let-c="close" let-d="dismiss">
  <div class="waiting-container">
    <label>Vui lòng chờ...</label>
    <div class="waiting-content">
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
  </div>
</ng-template>


<ng-template #formAcount>
  <div class="ovic-side-navigation-content">
    <div class="ovic-side-navigation-content__head">
      <h4 class="ovic-side-navigation-content__head__title">THÔNG TIN TÀI KHOẢN THÍ SINH</h4>
      <button (click)="closeForm()" pButton pRipple type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-text close ovic-side-navigation-content__head__btn-close"></button>
    </div>
    <div class="ovic-side-navigation-content__body ovic-scroll-style --no-footer">
      <div class="container">
        <app-thi-sinh-tai-khoan [userId]="thisinh_user_id"></app-thi-sinh-tai-khoan>
      </div>
    </div>
  </div>

</ng-template>
