<div class="ovic-reset-password__wrap">
    <div class="ovic-reset-password__inner" *ngIf="condition">
        <div class="ovic-reset-password__thumb">
            <img src="../../../../../assets/images/lock-02.png" width="2709" height="1992" alt="">
        </div>
        <h1 class="ovic-reset-password__title">Cập nhật mật khẩu</h1>
        <div class="ovic-reset-password__wrap-form">
            <form class="ovic-reset-password__form" autocomplete="off" [formGroup]="formConfirm">
                <div class="form-row position-relative">
                    <input [type]="showPassword1" name="pass1" class="ovic-reset-password__input" value="" autocomplete="off" placeholder="Mật khẩu mới" formControlName="password">
                  <div class="showEye"> <i [class]="showPassword1 === 'password' ? 'pi pi-eye' : 'pi pi-eye-slash'"  (click)="btnshow1()" ></i></div>
                </div>

              <div *ngIf="f['password'].errors" class="div-err">
                <div class="error-password-checker"><strong>Yêu cầu mật khẩu:</strong> </div>
                <div class="error-password-checker" *ngIf="f['password'].hasError('noAlphaNumeric')">
                  - Chứa chữ số và chữ cái.
                </div>
                <div class="error-password-checker" *ngIf="f['password'].hasError('minLength')">
                  - Độ dài tối thiểu 8 ký tự.
                </div>
                <div class="error-password-checker" *ngIf="f['password'].hasError('noUpperCase')">
                  - Có ít nhất một ký tự viết hoa.
                </div>
                <div class="error-password-checker" *ngIf="f['password'].hasError('noSpecialCharacter')">
                  - Có ít nhất một ký hiệu đặc biệt (vd: !, @, #,...).
                </div>
              </div>

                <div class="form-row">
                    <button class="btn ovic-reset-password__btn-submit btn-primary" (click)="checkData()">Cập nhật mật khẩu</button>
                </div>
            </form>
            <p class="ovic-reset-password___validate-error" [@showError]="errValidateForm">{{errMessage}}</p>
        </div>
    </div>
    <div class="ovic-reset-password__wrap-err" *ngIf="!condition">
        <p class="ovic-reset-password__err-mess">Phiên làm việc của bạn đã quá hạn hoặc thông tin không chính xác vui lòng liên hệ với quản trị viên để được giải đáp thắc mắc</p>
        <a routerLink="/" routerLinkActive="true" class="btn btn-success ovic-reset-password__btn-back-home">trang chủ</a>
    </div>
</div>
