.imgchecksize {
  max-height : 100%;
    /*width: auto;*/
}

/*.imgchecksize.horizontal {*/
/*  width: unset;*/
/*  height: 100%;*/
/*}*/
@media(max-width:1500px) {
  .imgchecksize {
    max-height: unset;
    width: 100%;
  }

  .imgchecksize.vertical {
    width: unset;
    height: 100%;
  }
  .imgchecksize.horizontal {
    width: unset;
    height: 100%;
  }

}

@media(max-width:1024px) {
    .imgchecksize {
        max-height: unset;
        width: 100%;
    }

    .imgchecksize.vertical {
      width: unset;
      height: 100%;
    }

  .imgchecksize.horizontal {
    max-width: calc(100% - 10px);
    height:unset;
  }

}

