<ng-container
  *ngIf="userInfo && userInfo.cccd_img_truoc && userInfo.anh_chandung  && userInfo.status === 0 && isCheckCCCD,else notStatus">

  <ng-container [ngSwitch]="ngType">
    <ng-container *ngSwitchCase="-1">
      <div class="w-100 d-flex flex-column justify-content-center align-items-center" style="height:calc(100vh - 90px)">
        <!--      <div class="w-100 d-flex flex-column justify-content-center align-items-center" style="height:100%">-->
        <div>
          <i class="pi pi-spin pi-spinner" style="font-size: 4rem"></i>
        </div>
        <div style="padding:12px;font-size: 16px;"> Đang chờ thanh toán</div>

        <button pRipple pButton icon="pi pi-sign-out" class="p-button-raised p-button-warning"
                label="Truy cập kết quả đăng ký" (click)="btnchecksite()"></button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="1">
      <!--      <div class="w-100 d-flex flex-column justify-content-center align-items-center" style="height:calc(100vh - 90px)">-->
      <div class="w-100 d-flex flex-column justify-content-center align-items-center" style="height:calc(100vh - 90px)">
        <div>
          <i class="pi pi-check-circle p-button-success" style="font-size: 4rem;color:#1baf08;"></i>
        </div>
        <div style="padding:12px;font-size: 16px;"> Thanh toán thành công</div>

        <button pRipple pButton icon="pi pi-sign-out" class="p-button-raised p-button-success"
                label="Truy cập kết quả đăng ký" (click)="btnchecksite()"></button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="0">
      <div class="ovic-container overflow-hidden overflow-x-auto overflow-y-auto "
           style="height:calc(100vh - 60px - 30px)">
        <div class="ovic-container " style="height:100%">
          <div class="thpt-form-data ovic-side-navigation-content --no-footer overflow-hidden overflow-y-auto">
            <!--  Lưu ý          -->
            <div class="row row-cols-1 p-2">
              <div class="col-12">
                <div class="thpt-note">
                  <div class="thpt-note-header" style="color:red;">Lưu ý:</div>
                  <div class="thpt-note-body">
                    <!--                <p>- Bạn có thể chọn nhiều môn thi trong một lần đăng ký của từng đợt thi.</p>-->
                    <!--                    <p>- Lệ phí thi với mỗi cấp độ là-->
                    <!--                      <strong>{{ (lephithiData ? lephithiData['value'] : 0) | numberToVndCurrencuy }}</strong> / 1 cấp độ .</p>-->
                    <p>- Sau khi thí sinh hoàn tất thao tác đăng ký, cần thực hiện thanh toán lệ phí thi ngay để giữ
                      chỗ. </p>
                    <p>- Sau khi kết thúc đợt đăng ký thí sinh không thanh toán lệ phí thi, hệ thống sẽ hủy kết quả đăng
                      ký. </p>
                    <p>- Để thực hiện đăng ký nhiều cấp độ vui lòng đăng ký từng cấp độ và thực hiện thanh toán. </p>
                    <p>- Vui lòng thực hiện thêm thông tin cá nhân sau khi thanh toán thành công. </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Form đăng ký         -->
            <div class="form-create">
              <div class="head">
                Thông tin đăng ký dự thi
              </div>
              <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
                <form [formGroup]="formSave" autocomplete="off">
                  <div class="row ">
                    <div class="col col-md-12 col-xl-4">
                      <div class="form-row">
                        <label>Đợt thi <span class="ovic-mark">*</span></label>
                        <ovic-dropdown class="w-100" [options]="keHoachThi_dangky" [optionLabel]="'title'"
                                       placeholder="Chọn đợt thi" [filter]="true"
                                       [filterBy]="'title'" optionId="id" [formField]="f['kehoach_id']"
                                       [showClear]="false"
                                       (onChange)="selectKehoachthi($event)"
                        ></ovic-dropdown>
                      </div>
                    </div>
                    <div class="col col-md-12 col-xl-4">
                      <div class="form-row">
                        <label>Điểm dự thi <span class="ovic-mark">*</span></label>
                        <ovic-dropdown class="w-100" [options]="kehoachDiemduthi" [optionLabel]="'_donvi_title'"
                                       placeholder="Chọn điểm dự thi" [filter]="true"
                                       [showClear]="false"
                                       [filterBy]="'_title'" optionId="diemduthi_id" [formField]="f['diemduthi_id']"
                                       (onChange)="selectDiemduthi($event)"
                        ></ovic-dropdown>
                      </div>
                    </div>

                    <div class="col col-md-12 col-xl-4">
                      <div class="form-row">
                        <label>Cấp độ dự thi <span class="ovic-mark">*</span></label>
                        <ovic-dropdown class="w-100" [options]="listLever" [optionLabel]="'label'"
                                       placeholder="Chọn cấp độ" [filter]="true"
                                       [showClear]="false"
                                       [filterBy]="'label'" optionId="value" [formField]="f['capthi']"
                                       (onChange)="selectCapthi($event)"
                        ></ovic-dropdown>
                      </div>
                    </div>


                  </div>

                </form>
              </div>

              <div class="body" *ngIf="this.kehoach_select && this.kehoach_diemduthi_select">
                <div class="info">
                  <div><strong>Đợt thi:</strong> {{ kehoach_select.title }}</div>
                  <div *ngIf="kehoach_select.mota"><strong>Chi tiết:</strong>
                    <div class="" [innerHtml]="kehoach_select.mota | ovicSafeHtml"></div>
                  </div>

                  <div><strong>Ngôn ngữ:</strong> {{ kehoach_select['_ngonngu'] }}</div>
                  <div><strong>Thời gian đăng ký:</strong> {{ kehoach_select['_date_convertd'] }}</div>
                  <div><strong>Điểm dự
                    thi:</strong> {{ kehoach_diemduthi_select ? kehoach_diemduthi_select['_donvi_title'] : '' }}
                  </div>
                  <div><strong>Cấp thi:</strong> {{ capthi_select ? capthi_select.label : '' }}</div>
                  <div><strong>Số lượng đăng ký : </strong> <span
                    class="count err">{{ kehoach_diemduthi_select['_soluong_conlai'] }}</span></div>
                  <div><strong>Giá đăng ký: </strong> <span
                    class="count">{{ conventGiabyKehoach(kehoach_select) | numberToVndCurrencuy }}</span></div>
                </div>
              </div>
            </div>


            <div style="padding: 15px 0 ;display: flex;justify-content: center;gap: 10px;">

              <button pButton pRipple class="p-button-success" icon="pi pi-check-square" label="Đăng ký dự thi"
                      [loading]="isLoading"
                      (click)="SaveForm()"></button>

              <button pButton pRipple icon="pi pi-user-edit" label="Cập nhật thông tin" (click)="btnRouInfo()"></button>
            </div>
            <div class="row">
              <div class="col-12 ovic-ui-table" [class.ovic-is-loading]="isLoading">
                <div class="ovic-load-init-fail alert alert-danger --fs-14" *ngIf="loadInitFail; else tableData">
                  Đã có lỗi trong quá trình tải dữ liệu
                  <button class="btn btn-primary border-circle --fs-13 ml-2" (click)="loadInit()">Reload</button>
                </div>
                <ng-template #tableData>
                  <div class="p-datatable-header" style="border-bottom:1px solid #CCC;">
                    <h3 class="tbl-title "> Danh sách đăng ký thi </h3>
                  </div>
                  <p-table [value]="dataOrders" [showCurrentPageReport]="false" [rowHover]="true"
                           [tableStyle]="{ 'min-width': '100px' }">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="ovic-w-50px text-center">TT</th>
                        <th class="ovic-w-100px text-center">Mã đăng ký</th>
                        <th class="text-left">Đợt thi</th>
                        <th class=" text-left text-center">Điểm dự thi</th>
                        <th class="ovic-w-180px text-center">Lệ phí thi</th>
                        <th class="ovic-w-110px text-center">Trạng thái</th>
                        <th class="ovic-w-180px text-center">Thao tác</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="7">Không có dữ liệu</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                      <tr>
                        <td class="ovic-w-50px text-center" [innerHTML]="item['_indexTable']"></td>
                        <td class="ovic-w-50px text-center">{{ item['id'] }}</td>
                        <td>
                          <div class="d-block --fs-14 font-weight-bold" [innerHTML]="item['__kehoach_thi']"></div>
                        </td>
                        <td class="ovic-w-260px">
                          <div class="d-block --fs-14 " [innerHTML]="item['__diemduthi_covered']"></div>

                        </td>
                        <td class="ovic-w-100px">
                          <div class="d-block --fs-14 text-right"
                               [innerHTML]="item['__lephithi_covered' ] |numberToVndCurrencuy"></div>
                        </td>
                        <td class="ovic-w-150px">
                          <div class="d-block --fs-14" [innerHTML]="item['__status_converted'] | htmlDecode"></div>
                        </td>
                        <td class="ovic-w-180px text-center">


                          <ng-container *ngIf="item['__have_parent'] else notParent">
                            <div class="d-flex flex-column " style="gap:6px;">
                              <div class="view-chuy">
                                {{ item['__ghichu'] }}
                              </div>
                              <ng-container *ngIf="item['is_child_payment'] == 1">
                                <button pButton pRipple class="p-button-warning mx-1" label="Thanh toán"
                                        icon="pi pi-credit-card" [loading]="isLoading"
                                        (click)="getPayment(item)"></button>
                              </ng-container>
                            </div>
                          </ng-container>
                          <ng-template #notParent>
                            <ng-container *ngIf="item['__trangthai_thanhtoan'] === 1 else notParentNotPay">
                              <div class="d-flex flex-row justify-content-center " style="gap:6px;">

                                <div class="is_huy" *ngIf=" item['huy'] else notHuy">
                                  Bạn đã hủy dự thi
                                </div>
                                <ng-template #notHuy>
                                  <button pRipple pButton class="p-button-success" icon="pi pi-file"
                                          pTooltip="Phiếu đăng ký điện tử" (click)="viewPhieudangky(item)"></button>
                                  <!--                                  <button pRipple pButton class="p-button-secondary" icon="pi pi-tag" pTooltip="Phiếu dự thi" (click)="viewPhieuDuthi(item)"></button>-->
                                  <!--                                  <button pRipple pButton class="" icon="pi pi-sync" pTooltip="Đổi đợt thi"-->
                                  <!--                                          (click)="btnViewChange(item)"></button>-->
                                  <button pRipple pButton class="p-button-danger" icon="pi pi-calendar-times"
                                          pTooltip="Hủy dự thi"
                                          (click)="btnViewCancel(item)"></button>
                                </ng-template>

                              </div>
                            </ng-container>
                            <ng-template #notParentNotPay>
                              <ng-container *ngIf="item.trangthai_thanhtoan == 1 ">
                                <div class="d-flex justify-content-center" style=" gap:20px;">
                                  <button pRipple pButton icon="pi pi-file" pTooltip="Phiếu đăng ký điện tử"
                                          (click)="viewPhieudangky(item)"></button>
                                  <!--                                  <button pRipple pButton icon="pi pi-tag" pTooltip="Phiếu dự thi" (click)="viewPhieuDuthi(item)"></button>-->
                                </div>
                              </ng-container>

                              <ng-container *ngIf="item.trangthai_thanhtoan !== 1 ">
                                <!--                                <button pRipple pButton icon="pi pi-file" (click)="viewPhieudangky(item)"></button>-->
                                <!--                                <button pRipple pButton icon="pi pi-tag" pTooltip="Phiếu dự thi" class="p-button-warning" (click)="viewPhieuDuthi(item)"></button>-->


                                <ng-container *ngIf="item.trangthai_duyet == 1 else notDuyet">
                                  <div class="d-flex flex-wrap justify-content-center" style=" gap: 10px;">
                                    <button pButton pRipple class="p-button-warning mx-1" [pTooltip]="'Thanh toán'"
                                            [tooltipPosition]="'top'" icon="pi pi-credit-card" [loading]="isLoading"
                                            (click)="getPayment(item)"></button>
                                    <button pButton pRipple class="p-button-danger mx-1"
                                            [pTooltip]="'Xoá'" [tooltipPosition]="'top'" icon="pi pi-trash"
                                            (click)="deleteRow(item)"></button>
                                  </div>
                                </ng-container>
                                <ng-template #notDuyet>
                                  <div
                                    style="padding: 8px 12px;background: #fffbe6;border-radius: 10px;color: #874d00;border: 1px solid #ffd591;">
                                    Chờ duyệt thông tin đăng ký của thí sinh
                                  </div>
                                </ng-template>

                              </ng-container>


                            </ng-template>
                          </ng-template>

                          <!--              </div>-->
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>

                  <p-paginator [rows]="limit" [totalRecords]="recordTotal"
                               (onPageChange)="paginate($event)"></p-paginator>
                </ng-template>
              </div>
            </div>
          </div>

        </div>
      </div>

    </ng-container>
  </ng-container>
</ng-container>

<ng-template #notStatus>
  <div class="w-100 d-flex justify-content-center align-items-center flex-column" style="height:calc(100vh - 90px)">
    <div>
      <i class="pi pi-exclamation-circle py-3" style="font-size: 8rem;color:#f59e0b"></i>
    </div>
    <div class="p-3" style="font-size: 17px;">Bạn chưa hoàn thành cập nhật thông tin!</div>

    <div *ngIf="!isCheckCCCD">
      Thông tin số CCCD của bạn không trùng với tài khoản, Vui lòng liên hệ với quản trị viên !
    </div>
    <div>
      <button pButton pRipple class="p-button-warning p-button-text" label="Cập nhật thông tin cá nhân"
              style="font-size:16px;"
              (click)="returnInfo()"></button>
    </div>

  </div>
</ng-template>


<p-dialog class="dal-dk-custome" [header]="'THANH TOÁN'" [(visible)]="displayModalThanhtoan" [modal]="true"
          [style]="{width: '50vw', height:'80vh'}" [draggable]="false" [resizable]="false"
          (onHide)="closeDialogThanhtoan()">
  <ng-container *ngIf="order_select && displayModalThanhtoan">
    <app-thanhtoan-by-qr [content]="'DK VSTEP'" [userInfo]="userInfo" [order]="order_select"
                         [type]="'thisinh'"></app-thanhtoan-by-qr>
  </ng-container>
</p-dialog>


<p-dialog class="dal-dk-custome" [header]="'ĐỔI ĐỢT THI'" [(visible)]="viewModelChange" [modal]="true"
          [style]="{width: '50vw', height:'80vh'}" [draggable]="false" [resizable]="false">
  <div class="ctn-notifi">
    <div class="ctn-notifi_header">
      Lưu ý:
    </div>
    <div class="ctn-notifi_body">
      <p>- Thí sinh được chỉ được phép đổi những đợt thi đang có.</p>
      <p>- Với nhưng đợt thi muốn đổi hệ thống sẽ kiểm tra số đã đăng ký, nếu đã đủ thí sinh thì dự thi thì không được
        phép đăng ký đợt thi đấy nữa .</p>
      <p>- Thí sinh chỉ được phép đổi đợt thi tối đa 3 lần.</p>
      <!--      <p>- Yêu cầu đổi của thí sinh sẽ xét duyệt,trường hợp thí sinh đổi đợt thi phải có lí do chính đáng nếu không sẽ-->
      <!--        không được xét duyệt.</p>-->
    </div>
  </div>


  <div>
    <div><p style="font-size: 15px;margin-top: 10px;"><strong>I. Danh sách Yêu cầu đổi đợt thi</strong></p></div>
    <div class="ovic-ui-table site-thpt">
      <p-table styleClass="p-datatable-gridlines" [value]="listOrderHuyChange" [rowHover]="true"
               [loading]="isLoading">
        <ng-template pTemplate="header" class="d-bock">
          <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Đợt thi cũ</th>
            <th class="text-center">Đợt thi mới</th>
            <th class="text-center">Trạng thái</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td class="text-center">{{ rowIndex + 1 }}</td>
            <td class="text-center">{{ conventNameDotthi(item.content['kehoanh_thi_cu']) }}</td>
            <td class="text-center">{{ conventNameDotthi(item.content['kehoanh_thi_moi']) }}</td>
            <td class="text-center">
              <ng-container [ngSwitch]="item.state">
                <ng-container *ngSwitchCase="0">
                  <div style="background: #ffd612;color: #564809;">Chờ duyệt</div>
                </ng-container>
                <ng-container *ngSwitchCase="1">
                  <div style="background: #0B9419;">Đã duyệt</div>
                </ng-container>
                <ng-container *ngSwitchCase="-1">
                  <div style="background: #ff1212;color: #fff;">Hủy duyệt</div>
                </ng-container>
              </ng-container>

            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">Không có dữ liệu</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <ng-container *ngIf="order_select && order_select.params !== null && order_select.params.length === 3 else checkFall">
    <div class="mes-3item">
      <strong>Thông báo:</strong><span> Bạn đã sử dụng hết lượt đổi đợt thi.</span>
    </div>
  </ng-container>
  <ng-template #checkFall>
    <div><p style="font-size: 15px;margin-top: 10px;"><strong>II. Nội dung đổi đợt thi</strong></p></div>
    <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
      <form [formGroup]="formHuyOrder" autocomplete="off">
        <div class="row">
          <div class="col-12">
            <div class="form-row">
              <label>Lý do<span class="ovic-mark">*</span></label>
              <textarea pInputTextarea placeholder="Nhập lý do đổi đợt thi" formControlName="mota"
                        class="w-100"></textarea>
            </div>
          </div>
        </div>
      </form>

    </div>
    <div class="bd-drop">
      <p-dropdown [options]="data_Kehoachthi_change" [(ngModel)]="change_kehoachthi_id"
                  (onChange)="onchangeSelectDothi($event)" placeholder="Chọn đợt thi cần đổi" optionLabel="title"
                  optionValue="id"></p-dropdown>

      <ng-container [ngSwitch]="check_change_dothi">
        <ng-container *ngSwitchCase="1">
          <div class="text-check true">
            <i class="pi pi-check-circle"></i>
            <span>được phép đăng ký</span>
          </div>
          <!--          <div class="text-nitifi">-->
          <!--            <p><strong>Lưu ý:</strong></p>-->

          <!--            <p class="m-0">1. Hệ thống sẽ xác nhận lý do và thông báo trong thời gian sớm nhất</p>-->
          <!--            <p class="m-0">2. Hệ thống sẽ xét duyệt lí do, với lý do hợp lệ thí sinh có thế đổi sang đợt thi mong-->
          <!--              muốn.</p>-->
          <!--            <p class="m-0">2. Trường hợp thí sinh không được xét duyệt sẽ phải tiếp túc dự thi đợt thi hiện tại.</p>-->
          <!--          </div>-->
          <div class="btn_accept">
            <button pRipple pButton label="xác nhận" class="p-button-secondary" (click)="btnAccept()"></button>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="0">
          <div class="text-check wait">
            <i class="pi pi-spin pi-spinner"></i>
            <span>Vui lòng chờ, hệ thống đang kiểm tra số lượng thí sinh đăng ký. </span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <div class="text-check false ">
            <i class="pi pi-ban"></i>
            <span>Số lượng thí sinh đăng ký đã đủ vui lòng chọn đợt thi khác.</span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="3">
          <div class="text-check false ">
            <i class="pi pi-ban"></i>
            <span>Bạn đã đăng ký từng đổi đợt thi này, vui lòng chọn đợt thi khác.</span>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="bd-acpect">

    </div>
  </ng-template>
</p-dialog>


<p-dialog class="dal-dk-custome" [header]="'HỦY ĐĂNG KÝ DỰ THI'" [(visible)]="viewModelCancel" [modal]="true"
          [style]="{width: '50vw',height: '90vh'}" [draggable]="false" [resizable]="false">
  <ng-container [ngSwitch]="loading_huyorder">
    <ng-container *ngSwitchCase="'-1'">
      <div class="d-flex justify-content-center align-items-center flex-column h-100 w-100"
           style="gap:10px;color:#f59e0b">
        <i class="pi pi-exclamation-circle" style="font-size: 80px;"></i>
        <div style="font-size:20px;">Mật kết nối máy chủ</div>
        <button pButton pRipple label="Tải lại" (click)="btnHuyOrderthi(order_select)"></button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'0'">
      <div class="d-flex justify-content-center align-items-center flex-column h-100 w-100"
           style="gap:10px;color:#f59e0b">
        <i class="pi pi-spin pi-sync" style="font-size: 80px;"></i>
        <div style="font-size:20px;">Vui lòng chờ</div>

      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'1'">
      <div *ngIf="huyByCancel.state == 1"
           class="d-flex justify-content-center align-items-center flex-column h-100 w-100"
           style="gap:10px;color:#0ba50b">
        <i class="pi pi-check-circle pi-sync" style="font-size: 80px;"></i>
        <div style="font-size:20px;">Bạn đã yêu cầu hủy dự thi thành công</div>
      </div>

      <div *ngIf="huyByCancel.state == 0"
           class="d-flex justify-content-center align-items-center flex-column h-100 w-100"
           style="gap:10px;color:#e87600">
        <i class="pi pi-spin pi-sync" style="font-size: 80px;"></i>
        <div style="font-size:20px;">Yêu cầu của thí sinh đang chờ xét duyệt</div>
      </div>

      <div *ngIf="huyByCancel.state == -1"
           class="d-flex justify-content-center align-items-center flex-column h-100 w-100"
           style="gap:10px;color:rgb(252 41 37)">
        <i class="pi pi-times" style="font-size: 80px;"></i>
        <div class="text-center" style="font-size: 17px;">
          <p>Yêu cầu của bạn đã bị hủy</p>
          <p>Mọi thắc mắc xin liên hệ : Điện thoại: 0962.529.996, email: phongkhaothi.cteq@tnu.edu.vn</p>

        </div>
      </div>

    </ng-container>
    <ng-container *ngSwitchCase="'2'">
      <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
        <div class="canner-hsk_note">
          <div><strong style="font-size:20px;">Lưu ý:</strong></div>

          <div>
            <div>
              1. Khi thực hiện "Hủy đăng ký", cán bộ phụ trách sẽ tiến hành xét duyệt đơn.
            </div>
            <div>
              2. Thí sinh tiến hành hủy đăng ký thi trước ngày thi ít nhất 05 ngày làm việc, sau thời hạn trên, yêu cầu
              hủy đăng ký thi sẽ không được giải quyết
            </div>
            <div>
              3. Trường hợp yêu cầu được phê duyệt, thí sinh không còn trong danh sách dự thi của đợt thi.
            </div>
            <div>
              4. Hoàn lệ phí thi tại <strong>"Trung tâm Khảo thí và Quản lý chất lượng giáo dục - ĐHTN"</strong>
            </div>
            <div>
              <strong>Điện thoại:</strong> 0977.529.996 (chứng chỉ VSTEP) - 0913.629.996 (Giấy chứng nhận năng lực ngoại
              ngữ của Đại học Thái Nguyên), <strong>Email:</strong> phongkhaothi.cteq@tnu.edu.vn, <strong>Địa
              chỉ:</strong> Địa chỉ: Trung tâm Khảo thí và Quản lý chất lượng giáo dục - Phường Phan Đình Phùng - Tỉnh
              Thái Nguyên
            </div>
          </div>
        </div>

        <div class="cannel-hsk">
          <div>Đợt thi : <span>{{ order_select['__kehoach_thi'] }}</span></div>
          <div>Điểm dự thi: <span>{{ order_select['__diemduthi_covered'] }}</span></div>
        </div>

        <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
          <form [formGroup]="formHuyOrder" autocomplete="off">


            <div class="row">
              <div class="col-12">
                <div><strong>1.lý do huỷ dự thi</strong></div>
                <div class="form-row">
                  <label>Lý do<span class="ovic-mark">*</span></label>
                  <textarea pInputTextarea placeholder="Nhập lý do đổi đợt thi" formControlName="mota"
                            class="w-100"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div>
                  <p><strong>2.Đơn xin hoàn lại lệ phi và minh chứng chuyển khoản</strong></p>
                  <p class="text-center " style="color:red;">Để hoàn lại lệ phí dự thi, thi sinh thực hiện tải đơn này
                    và điền thông tin, sau đó thí sinh scan hoặc chụp ảnh phần đơn đã hoàn thiện kèm theo bill đã nộp
                    phí thi và tải lên hệ thống </p>
                  <div class="text-center">
                    <button pRipple pButton label="Đơn hoàn lệ phí" icon="pi pi-download"
                            (click)="btnDowloadDon()"></button>
                  </div>
                </div>

              </div>
            </div>
            <div class="row row-cols-1">
              <div class="col col-lg-6">
                <div class="form-row">
                  <label>Đơn hoàn lệ phí<span class="ovic-mark">*</span></label>
                  <app-file-list-local class="w-100 ovic-vertical__file-list" [permission]="filePermission"
                                       [accept]="['.jpg', '.png', '.jpeg']"
                                       [formField]="formHuy['files']" [multiple]="false"
                                       [state]="1"></app-file-list-local>
                </div>
              </div>
              <div class="col col-lg-6">
                <div class="form-row">
                  <label>Minh chứng chuyển khoản <span class="ovic-mark">*</span></label>
                  <app-file-list-local class="w-100 ovic-vertical__file-list" [permission]="filePermission"
                                       [accept]="['.jpg', '.png', '.jpeg']"
                                       [formField]="formHuy['minhchung']" [multiple]="false"
                                       [state]="1"></app-file-list-local>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center" style="margin-top:10px">
        <button pRipple pButton icon="pi pi-send" label="Gửi yêu cầu hủy đăng ký"
                (click)="btnAcceptHuyOrder()"></button>
      </div>


    </ng-container>
  </ng-container>

</p-dialog>

<!-- Phiếu đăng ký điện tử (Flexbox) -->
<p-dialog header="Phiếu đăng ký điện tử (Flex)" [(visible)]="isShower" [modal]="true"
          [style]="{width: 'calc(100% - 20px)'}"
          [maximizable]="true"
          [draggable]="false" [resizable]="false">

  <ng-template pTemplate="header">
    <button pButton pRipple label="Xuất phiếu dự thi" (click)="downloadAsPdf()"></button>
  </ng-template>

  <div *ngIf="phieudangkydientu" class="w-100 h-100 d-flex flex-column align-phieu "
       style="background: #fafafa;color: #000000">
    <div class="phieu_content" #dataToExport>
      <div class="pdf-page">
        <table class="w-100 my-3 px-2">
          <tr>
            <td>
              <div class="--font-times-new-roman d-flex justify-content-center align-items-center flex-column">
                <div class="text-center">ĐẠI HỌC THÁI NGUYÊN</div>
                <div><strong><u>HỘI ĐỒNG THI ĐÁNH GIÁ NLNN</u></strong></div>
              </div>
            </td>
            <td>
              <div class="--font-times-new-roman d-flex justify-content-center align-items-center flex-column">
                <div class="text-center"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></div>
                <div><strong><u>Độc lập – Tự do – Hạnh phúc</u></strong></div>
              </div>
            </td>
          </tr>
        </table>

        <div class="--font-times-new-roman text-center my-1" style="font-size:20px;"><strong>PHIẾU ĐĂNG KÝ DỰ
          THI</strong>
        </div>
        <div class="--font-times-new-roman text-center my-1" style="font-size:18px;"><strong>ĐÁNH GIÁ NĂNG LỰC NGOẠI NGỮ
          CỦA ĐẠI HỌC THÁI NGUYÊN</strong>
        </div>

        <div class="row row-cols-2 mx-0 mt-2">
          <div class="col-6 d-flex justify-content-center">
            <div class="anh-the d-flex justify-content-center " style="height: 200px;">
              <img [src]="phieudangkydientu.anh_chandung" alt="">
            </div>
          </div>
          <div class="col-6">
            <div class="anh-the" style="height: 200px;">
              <ng-container *ngIf="phieudangkydientu.doituong_anhthe else notAnhThe">
                <img [src]="phieudangkydientu.doituong_anhthe" alt="">

              </ng-container>
              <ng-template #notAnhThe>
                <div class="d-flex justify-content-center align-items-center flex-column">
                  <span style="font-weight: 500;">Ảnh thẻ sinh viên</span>
                  <span style="font-weight: 500;">(Nếu có)</span>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="table w-100 mt-2">
          <div class="table-flex w-100">
            <!-- PHẦN I -->
            <div class="table-flex-row" style="background: #C1E4F5">
              <div class="table-flex-cell colspan-3"><strong>PHẦN I - THÔNG TIN CÁ NHÂN</strong></div>
            </div>

            <div class="table-flex-row">
              <div class="table-flex-cell ">
                1. Họ và tên: {{ phieudangkydientu.hoten }}
              </div>
              <div class="table-flex-cell" style="max-width: 240px;">
                <div>
                  2. Giới tính:
                  <span style="margin-left: 10px;">
                  <i [ngClass]="phieudangkydientu.gioitinh !== 'name' ? 'fa fa-square-o' : 'fa fa-check-square-o'"></i>
                </span> Nam
                  <span style="margin-left: 10px;">
                  <i [ngClass]="phieudangkydientu.gioitinh == 'name' ? 'fa fa-square-o' : 'fa fa-check-square-o'"></i>
                </span> Nữ
                </div>
              </div>
            </div>

            <div class="table-flex-row">
              <div class="table-flex-cell" style="width: 280px;flex: unset;">
                3. Ngày sinh: {{ phieudangkydientu.ngaysinh }}
              </div>
              <div class="table-flex-cell ">
                4. Nơi sinh: {{ phieudangkydientu.noisinh }}
              </div>
            </div>

            <div class="table-flex-row">
              <div class="table-flex-cell">
                5. Số CCCD: {{ phieudangkydientu.cccd_so }}
              </div>
              <div class="table-flex-cell">
                6. ngày cấp: {{ phieudangkydientu.cccd_ngaycap }}
              </div>
              <div class="table-flex-cell">
                7. Nơi cấp: {{ phieudangkydientu.cccd_noicap }}
              </div>
            </div>

            <div class="table-flex-row">
              <div class="table-flex-cell colspan-2">
                8. Điện thoại: {{ phieudangkydientu.phone }}
              </div>
              <div class="table-flex-cell colspan-2">
                9. Email: {{ phieudangkydientu.email }}
              </div>
            </div>

            <div class="table-flex-row">
              <div class="table-flex-cell colspan-3">
                10. Địa chỉ thường trú: {{ phieudangkydientu.thuongtru }}
              </div>
            </div>

            <div class="table-flex-row">
              <div class="table-flex-cell colspan-3">
                11. Đối tượng dự thi:
              </div>
            </div>

            <div class="table-flex-row">
              <div class="table-flex-cell" style="width: 280px;flex: unset;">
              <span>
                <i [ngClass]="phieudangkydientu.doituong !== 'dhtn' ? 'fa fa-square-o' : 'fa fa-check-square-o'"></i>
              </span> Người học của Đại học Thái Nguyên
              </div>
              <div class="table-flex-cell">
              <span>
                <i [ngClass]="phieudangkydientu.doituong !== 'doitac' ? 'fa fa-square-o' : 'fa fa-check-square-o'"></i>
              </span> Người học của đơn vị đối tác
              </div>
              <div class="table-flex-cell">
              <span>
                <i [ngClass]="phieudangkydientu.doituong !== 'tudo' ? 'fa fa-square-o' : 'fa fa-check-square-o'"></i>
              </span> Thí sinh tự do
              </div>
            </div>

            <!-- PHẦN 2 -->
            <div class="table-flex-row" style="background: #C1E4F5">
              <div class="table-flex-cell colspan-3">
                <strong>PHẦN II – THÔNG TIN ĐĂNG KÝ THI</strong>
              </div>
            </div>

            <div class="table-flex-row">
              <div class="table-flex-cell">1. Đợt thi: {{ phieudangkydientu.dothi }}</div>
            </div>

            <div class="table-flex-row">
              <div class="table-flex-cell">2. Ngôn ngữ thi: {{ phieudangkydientu.ngonngu }}</div>
            </div>
            <div class="table-flex-row">
              <div class="table-flex-cell">3. Cấp độ thi:</div>
            </div>

            <div class="table-flex-row flex-wrap">
              <div class="table-flex-cell" style="width: 33.33%;height: 36.8px;"
                   *ngFor="let item of phieudangkydientu.capthi">
                <div *ngIf="item.label">
                  <i [ngClass]="!item.check ? 'fa fa-square-o' : 'fa fa-check-square-o' " class="mr-2"></i>
                  <span>{{ item.label }}</span>
                </div>
              </div>
            </div>

            <!-- PHẦN III -->
            <div class="table-flex-row" style="background: #C1E4F5">
              <div class="table-flex-cell colspan-3"><strong>PHẦN III - CAM KẾT CỦA THÍ SINH</strong></div>
            </div>

            <div class="table-flex-row">
              <div class="table-flex-cell colspan-3">
                <span><i class="fa fa-check-square-o"></i></span> Thí sinh cam kết chịu trách nhiệm về những thông tin
                cung cấp ở phía trên, nếu sai sót thí sinh có thể bị hủy tư cách dự thi và kết quả thi
              </div>
            </div>

            <div class="table-flex-row">
              <div class="table-flex-cell colspan-3">
                <span><i class="fa fa-check-square-o"></i></span> Thí sinh cam kết chấp hành đúng và đầy đủ Quy chế thi
                và Quy định của Hội đồng thi đánh giá năng lực ngoại ngữ tại Đại học Thái Nguyên.
              </div>
            </div>

          </div>


        </div><!-- end table-flex -->
      </div>
      <div class="pdf-page page-break">
        <div class="row row-cols-2 mx-0 mt-3">
          <div class="col-6 ">
            <div class="anh-the ">
              <div class="text-center p-1"> CCCD (Hộ chiếu) mặt trước</div>
              <img [src]="phieudangkydientu.cccd_mattruoc" alt="">
            </div>
          </div>
          <div class="col-6">
            <div class="anh-the ">
              <div class="text-center p-1"> CCCD (Hộ chiếu) mặt trước</div>

              <img [src]="phieudangkydientu.cccd_matsau" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</p-dialog>


