
<div class="w-100" style="height:calc(100% - 90px)">
  <div class="row w-100 m-0">
    <div class="col-12 p-0 ovic-ui-table site-thpt" style="height:calc(100vh - 84px)"
         [class.ovic-is-loading]="isLoading">
      <div class="p-datatable-header" style="height:65px; border-bottom:1px solid #CCC;">
        <h3 class="tbl-title ">Danh sách thí sinh đăng ký</h3>
        <div class="search-block ui-table-globalfilter-container ">
          <!--          <button pRipple pButton label="Gửi thông báo cho thí sinh" (click)="btnSentEmail()"></button>-->
<!--          <button pButton pRipple icon="pi pi-file-excel" class="mx-2 p-button-success" label="Xuất danh sách phòng thi" (click)="btnExportDsPhongthi()"></button>-->
<!--          <button pButton pRipple icon="pi pi-book" class="mx-2" label="Xuất Album Ảnh" (click)="btnExportAlbumAnh()"></button>-->
<!--          <button *ngIf="hoidong && hoidong['lock'] === 0 else hoidonglock" pButton pRipple icon="pi pi-send" class="mx-2 p-button-warning" label="Gửi Email cho thí sinh" (click)="btnSendEmail()"></button>-->
<!--          <ng-template #hoidonglock>-->
<!--            <button pButton pRipple icon="pi pi-send" class="mx-2 p-button-warning" label="Gửi Email cho thí sinh" disabled></button>-->

<!--          </ng-template>-->

          <p-dropdown [options]="dmCapdo" class="capdo-hsk" placeholder="Cấp độ HSK" optionValue="id" optionLabel="title" [showClear]="true"
                      (onChange)="slelectDrop($event.value)">
          </p-dropdown>
<!--          <button pRipple pButton icon="pi pi-file-excel" class="mx-2 p-button-success" (click)="btnExportDataThisinhByKehoach()" label="Xuất danh sách thí sinh dự thi"></button>-->
          <button pRipple pButton icon="pi pi-file-excel" class="mx-2 p-button-success" (click)="btnExportDataThisinhByKehoachV2()" label="Xuất danh sách thí sinh dự thi"></button>
          <button pRipple pButton icon="pi pi-folder-open" class="mx-2 " (click)="btnExport()" label="Xuất album ảnh "></button>

        </div>
      </div>
      <div class="ovic-wrap-table-rps ovic-scroll-style overflow-hidden overflow-y-auto" style="height:calc(100% - 65px - 60px);background: #dedede;">
        <!--              <div class="ovic-wrap-table-rps__inner">-->
        <div class="" >
          <p-table  styleClass="p-datatable-gridlines"
                    [value]="thisinhInKehoach" [rowHover]="true"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                    [loading]="isLoading">
            <ng-template pTemplate="header" class="d-bock">
              <tr>

                <th class="ovic-w-40px text-center ">STT</th>
                <th class=" text-center">Họ và tên</th>
                <th class="ovic-w-120px text-center">Số CCCD</th>
                <th class="ovic-w-120px text-center">Số điện thoại</th>
                <th class="ovic-w-200px text-center">Cấp độ</th>
                <th class="ovic-w-200px text-center">Lệ phí thi</th>
                <th class="ovic-w-200px text-center">Trạng thái thanh toán</th>
                <th class="ovic-w-200px text-center">Ghi chú</th>

              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item let-i="rowIndex">
              <tr>

                <td class="text-center">{{ item['__index'] }}</td>
                <td><span class="tt-hover" > {{ item['__hoten'] }}</span></td>
                <td class="ovic-w-120px text-right">{{ item['__cccd_so'] }}</td>
                <td class="ovic-w-200px text-right">{{ item['__phone'] }}</td>
                <td class="ovic-w-200px text-center">{{ item['__capdo'] }}</td>
                <td class="ovic-w-200px text-right"><div>{{ item['__lephithi']  |numberToVndCurrencuy }}</div></td>
                <td class="ovic-w-200px text-right"><div><div [ngClass]="'status-pay pay-' + item['__status_converted']"> {{item['__trangthai_thanhtoan']}}</div></div></td>
                <td>{{item['__ghichu']}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="20">
                  Không có dữ liệu thí sinh!
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <p-paginator class="duthi_panigator" [showCurrentPageReport]="true" [rows]="rows"
                   [totalRecords]="recordsTotal" [pageLinkSize]="5" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>

</div>


