<ng-container [ngSwitch]="ngView">
  <ng-container *ngSwitchCase="-1">
    <div class="h-100 d-flex flex-column justify-content-center align-items-center"
         style="gap:4px;background:#c1ccd8">
      <div style="font-size:16px;"></div>
      <div style="font-size:16px;">Mất kết nối với máy chủ vui lòng bấm 'Tải lại'</div>
      <button pButton pRipple label="Tải lại" icon="pi pi-sync" (click)="reload()"></button>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="-2">
    <div class="h-100 d-flex flex-column justify-content-center align-items-center"
         style="background:#ededed">
      <div class=" text-center"
           style="font-size: 15px;background: #d6ddf1;padding: 14px 20px;border-radius: 10px;border: 1px solid #ccc;">
        <i class="pi pi-times-circle" style="font-size:60px;color: #faad1a;"></i>
        <p class="my-2">Điểm thi không có trong đợt thi này </p>
<!--        <div style=" width: 300px">-->
<!--          <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
<!--        </div>-->
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="0">
    <div class="h-100 d-flex flex-column justify-content-center align-items-center"
         style="background:#ededed">
      <div class=" text-center"
           style="font-size: 15px;background: #d6def7;padding: 14px 20px;border-radius: 10px;border: 1px solid #ccc;">
        <p>Đang tải dữ liệu, vui lòng chờ</p>
        <div style=" width: 300px">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="1">
    <div class="phongthi-container">
      <div class="phongthi-h">
        <div class="phongthi-h_title">Danh sách phòng thi theo điểm thi</div>
        <div class="phongthi-h_btn">
          <button pButton pRipple icon="pi pi-plus" label="Thêm mới" class="p-button-success" (click)=" btnCreate()"></button>

          <ng-container *ngIf="isAdmin">
            <button pButton pRipple icon ="pi pi-sliders-h" label="Xếp phòng thi cho thí sinh" (click)="btnFormSortThisinh()"></button>

          </ng-container>
<!--          <button pButton pRipple icon ="pi pi-sliders-h" label="Xếp phòng thi cho thí sinh" (click)="btnFormSortThisinh()"></button>-->
<!--          <button pRipple pButton icon="pi pi-trash" class="p-button-danger" (click)=" btnDeleteByHoidong()"></button>-->
        </div>
      </div>
      <div class="phongthi-body ">
<!--        <ng-container *ngIf="listPhongthi.length > 0 else notData">-->
          <div class="ovic-wrap-table-rps ovic-scroll-style">
            <!--    <div class="ovic-wrap-table-rps ovic-scroll-style overflow-hidden overflow-y-auto" style="height:calc(100% - 65px - 60px);background: #dedede;">-->
            <div class="ovic-wrap-table-rps__inner ">

              <div class="">
                <p-table   styleClass="tb-thpt tbl-danhSachUser table-scroll-able ovic-ui-table table-border table-able-dropdown-p-table table-none-header"
                         [value]="listKehoachDiemthi" [rowHover]="true">
                  <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr >
                      <td class="font-weight-bold text-left text-uppercase" colspan="5">
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            {{ (i + 1 ) + '. ' + item['__diemduthi_title'] }}
                          </div>
                          <div *ngIf="isAdmin">
                            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="btnDeleteByDiemduthi(item)"></button>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold text-center">STT</td>
                      <td class="font-weight-bold text-center">Phòng thi</td>
                      <td class="font-weight-bold text-center">Số lượng thí sinh</td>
                      <td class="font-weight-bold text-center">Giảng viên coi thi</td>
                    </tr>
                    <ng-container *ngIf="item['__hoidongPhongthi'].length> 0 else notPhongthi">

                      <tr *ngFor="let item2 of item['__hoidongPhongthi']; index as i">
                        <td class="text-center">{{ i + 1 }}</td>
                        <td class="text-center">{{ item2['phongthi'] }}</td>
                        <td class="text-center">{{ item2['soluong'] }}</td>
                        <td class="text-center">{{ item2['giangvien'] }}</td>
                      </tr>
                    </ng-container>
                    <ng-template #notPhongthi>
                      <tr>
                        <td colspan="5"> Chưa có dữ liệu phòng thi của điểm thi.</td>
                      </tr>
                    </ng-template>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
<!--        </ng-container>-->
<!--        <ng-template #notData>-->

<!--          <div class="h-100 d-flex flex-column justify-content-center align-items-center"-->
<!--               style="background:#ededed">-->
<!--            <div class=" text-center"-->
<!--                 style="font-size: 15px;background: #d6def7;padding: 14px 20px;border-radius: 10px;border: 1px solid #ccc;">-->
<!--              <span>Không có dữ liệu</span>-->

<!--            </div>-->
<!--          </div>-->
<!--        </ng-template>-->
      </div>
    </div>

  </ng-container>
  <ng-container *ngSwitchCase="2">
    <div class="phongthi-container">
      <div class="phongthi-h">
        <div class="phongthi-h_title">
          <button pButton pRipple icon="pi pi-angle-left" class="p-button-secondary p-button-icon" (click)="returnList()"></button>
          <div>Thêm mới phòng thi</div>
        </div>
        <div class="phongthi-h_btn">
          <a href="assets/files/dkVstep/mau-phongthi.xlsx" download="file-mau.xlsx">
            <button pRipple pButton class="border-radius-0" label="Tải file mẫu" icon="pi pi-download">
            </button>
          </a>
          <button class="btn_upload_excel" (click)="inputFile()">
            <span class="text_in_line" *ngIf="file_name else notFile">{{ file_name }}</span>
            <ng-template #notFile>
              <i class="fi fa fa-paperclip" aria-hidden="true"> Upload file</i>
            </ng-template>
          </button>

          <button pButton pRipple icon="pi pi-wallet" label="Lưu lại" class="p-button-success h-100 border-radius-0"
                  (click)="btnSubmitData()"></button>
          <!--      <button pButton pRipple icon="pi pi-save" label="Ghi đè dữ liệu " class="p-button-success h-100 border-radius-0"></button>-->
          <button pButton pRipple icon="pi pi-times" label="Reset" class="p-button-secondary h-100 border-radius-0"
                  (click)="btnReset()"></button>
        </div>
      </div>
      <div class="phongthi-body ">
        <div class="ovic-wrap-table-rps">
          <div class="ovic-wrap-table-rps__inner">
            <p-table styleClass="p-datatable-gridlines" [value]="datauploadView" [rowHover]="true"
                     [rows]="50" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]">
              <ng-template pTemplate="header" class="d-bock">
                <tr>
                  <th style="min-width: 50px;" class="text-center">TT</th>
                  <th style="min-width: 150px;" class="text-center">Điểm dự thi</th>
                  <th style="min-width: 150px;" class="text-center">Phòng thi</th>
                  <th style="min-width: 150px;" class="text-center">Số lượng</th>
                  <th style="min-width: 150px;" class="text-center">Giảng viên coi thi</th>

                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                  <td pFrozenColumn class="text-center">{{ rowIndex + 1 }}</td>
                  <td pFrozenColumn class="text-center" [pTooltip]="!checkDiemduthi(item['diemduthi_id']) ? 'Điểm dự thi ko hợp lệ' :'' " > <div [ngClass]="!checkDiemduthi(item['diemduthi_id']) ? 'div-error' :'' ">{{ item['diemduthi_id'] }}</div></td>
                  <td pFrozenColumn class="text-center">{{ item['phongthi'] }}</td>
                  <td pFrozenColumn class="text-center">{{ item['soluong'] }}</td>
                  <td pFrozenColumn class="text-center">{{ item['giangvien'] }}</td>


                </tr>
              </ng-template>
            </p-table>

          </div>
        </div>
      </div>
      <div class="phongthi-bottom">
        <div class="title">Có <strong>{{ dataUpload.length }}</strong> kết quả tải lên.</div>

          <p-paginator #ViewuploadP [showCurrentPageReport]="true" [rows]="50"
                       [totalRecords]="dataUpload.length" [pageLinkSize]="5"
                       (onPageChange)="paginateViewUpload($event)"></p-paginator>

      </div>
    </div>

  </ng-container>
  <ng-container *ngSwitchCase="3">
    <div class="phongthi-container">
      <div class="phongthi-h">
        <div class="phongthi-h_title">
          <button pButton pRipple icon="pi pi-angle-left" class="p-button-secondary p-button-icon" (click)="returnList()"></button>
          <div>Sắp xếp phòng thi cho thí sinh</div>
        </div>
<!--        <div class="phongthi-h_btn">-->
<!--          <a href="assets/files/dkVstep/mau-phongthi.xlsx" download="file-mau.xlsx">-->
<!--            <button pRipple pButton class="border-radius-0" label="Tải file mẫu" icon="pi pi-download">-->
<!--            </button>-->
<!--          </a>-->
<!--          <button class="btn_upload_excel" (click)="inputFile()">-->
<!--            <span class="text_in_line" *ngIf="file_name else notFile">{{ file_name }}</span>-->
<!--            <ng-template #notFile>-->
<!--              <i class="fi fa fa-paperclip" aria-hidden="true"> Upload file</i>-->
<!--            </ng-template>-->
<!--          </button>-->

<!--          <button pButton pRipple icon="pi pi-wallet" label="Lưu lại" class="p-button-success h-100 border-radius-0"-->
<!--                  (click)="btnSubmitData()"></button>-->
<!--          &lt;!&ndash;      <button pButton pRipple icon="pi pi-save" label="Ghi đè dữ liệu " class="p-button-success h-100 border-radius-0"></button>&ndash;&gt;-->
<!--          <button pButton pRipple icon="pi pi-times" label="Reset" class="p-button-secondary h-100 border-radius-0"-->
<!--                  (click)="btnReset()"></button>-->
<!--        </div>-->
      </div>
      <div class="phongthi-body overflow-y-auto">

        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
          <div class="form-add " style="border: 2px dashed #ccc">
            <div class="title"> Xếp phòng thi cho thí sinh </div>
            <div><p class="pb-2"><strong>Lưu ý:</strong></p>
              <div>- Thao tao tác này sẽ thực hiện thực hiện sắp xếp thí sinh vào phòng thi đã cài đặt</div>
              <div>- Trong quá trình thực hiện thao tác vui lòng ko tắt màn hình hoặc mất kết nối mạng</div>
              <div>- Trường hợp số lượng phòng thi ko đủ vui lòng tạo thêm phòng thi</div>
<!--              <div>- Trường hợp số lượng phòng thi ko đủ vui lòng tạo thêm phòng thi</div>-->
            </div>
            <div class="text-center">
              <button pButton pRipple icon="pi pi-check " label="Kiểm tra dữ liệu " [loading]="isbuttonLoad" (click)="btnCheckData()"> </button>

            </div>
<!--              <ng-container *ngIf="showCheck">-->
<!--              <div class="text_check"><i class="pi pi-check-square"></i>Có {{dataOrders.length}} kết quả thí sinh đăng ký dự thi với đợt</div>-->

<!--              <button pRipple pButton label="Xác nhận" (click)="btnAccept()"></button>-->

<!--            </ng-container>-->

          </div>

        </div>

      </div>

    </div>

  </ng-container>
</ng-container>


