.text_in_line{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ctn-notifi{
  padding: 10px 15px;
  border: 2px dashed #ff0f0f;
  background: #fbfbfb;
}

.ctn-notifi_header{
  font-size:18px;
  font-weight:700;
  color:#ff0f0f
}
.ctn-notifi_body{

}
.ctn-notifi_count{
  padding: 10px 0;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/*------------------old css------------------*/
.dk-container{
  width:100%;
  display: flex;
  height: calc(100vh - 90px);
  flex-direction: column;

}
.dk-header{
  height:60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  background: #fff;
}
.dk_header-right{
  display:flex;
  gap: 10px;
}

.dk-body{
  flex:1 1 auto;
  overflow:hidden;
  overflow-y:auto;
}
.dk-footer{
  height:60px;

}

.btn_upload_excel{
  width: 200px;
  height: 36px;
  background: none;
  border: 2px dashed #ccc;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
/*------------------------------------------*/

.notifi{

}
.notifi-title{
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.notifi-body{
  display: flex;
}
.notifi-body_left{
  width:calc(65% - 10px);
  color: #fff;
  background: rgba(232, 65, 24, 1.0);
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  margin-right: 10px;

}
.notifi-body_right{
  width:35%;

}

.notifi-line{
  width: calc(100% - 40px);
  margin: 15px 15px 0 15px;
}
.notifi-line .line{
  width:100%;
  border: 2px solid #393939;
  border-radius: 50px;
}
.notifi-line .title{
  text-align:center;
  font-size: 18px;
  font-weight:600;
  line-height: 1;
  padding :10px;
  text-transform: uppercase;
}


.notifi-payment{
  margin-top:10px;
  display: flex;
  flex-direction:column;
  justify-content:center;
  /*border: 1px solid #393939;*/
  /*border-radius: 10px;*/
}
.table-payment td{
  padding:2px;
}
.notifi-payment_left{
  /*width:65%;*/
}
.notifi-payment_right{
  /*width:35%;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height:90px;
  padding: 10px 0;

}
.notifi-payment_right .checkbox{
  display: flex;
  flex-direction: column;
  gap:10px;
}


.chuathanhtoan{
  color: red;
  background: #ebc0c0;
  padding: 8px;
}
.dathanhtoan{
  color: #0b9419;
  background: #daebd8;
  padding: 8px;

}
.chothanhtoan{
  color: #fff;
  background: #ffa500;
  padding: 8px;
}

.view-list-check{
  display: flex;
  justify-content: center;
}
.view-list-check span{
  font-size: 15px;
  padding: 10px 0;
}
.site-hsk{
  width:100%;
  border-collapse: collapse;
}
.site-hsk, .site-hsk td,.site-hsk th {
  border: 1px solid #ccc;
  background: #fff;
}
td.view-true{
  color: #0B9419;
}
td.view-false{
  color: #d50b0b;
}
.view-table .title{
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  padding: 5px;
}
/*-------------------new Css------------------*/
.div-error{
  background: #f9c3c4;
  color: red;
}


.phongthi-container{
  --bd-cl: #ccc;
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--bd-cl);
}
.phongthi-h{
  height:60px;
  border-bottom: 1px solid var(--bd-cl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:5px 10px
}
.phongthi-h_title{
  font-size:15px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px

}
.phongthi-h_btn{
  display: flex;
  gap:10px;
}
.phongthi-body{
  height:1%;
  flex: 1 1 auto;
  overflow-y: scroll;
  width: 100%;
  background:#ededed;
}
.phongthi-bottom{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 10px; */
  border-top: 1px solid #ccc;
  overflow: hidden;
  padding: 0 10px;
  font-size:15px;
}

/*---------------------form phongthi- thisinh-------------------*/

.form-add{
  background: #fbfbfb;
  border: 2px dashed #ccc;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 14px;
}
.form-add .title{
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.form-add .text_check{
  display: flex;
  color: #0B9419;
  gap: 10px;
  padding: 13px 0;
  align-items: center;
  line-height: 1;
  justify-content: center;
}
.bottom-new{
  height: 60px;
  font-size: 16px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
