<div class="w-100 h-100">
  <ng-container [ngSwitch]="ngType">
    <ng-container *ngSwitchCase=" -1">
      <div class="h-100 d-flex flex-column justify-content-center align-items-center"
           style="gap:4px;background:#c1ccd8">
        <div style="font-size:16px;"></div>
        <div style="font-size:16px;">Mất kết nối với máy chủ vui lòng bấm 'Tải lại'</div>
        <button pButton pRipple label="Tải lại" icon="pi pi-sync" (click)="reLoad()"></button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase=" 0">
      <div class="h-100 d-flex flex-column justify-content-center align-items-center"
           style="background:#ededed">
        <div class=" text-center"
             style="font-size: 15px;background: #d6def7;padding: 14px 20px;border-radius: 10px;border: 1px solid #ccc;">
          <p>Đang tải dữ liệu, vui lòng chờ</p>
          <div style=" width: 300px">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase=" 1">
      <div class="diemduthi-container">

        <p-splitter [style]="{'height': '100%'}" class="w-100" [panelSizes]="[70,30]">
          <ng-template pTemplate>
            <div class="diemduthi-size-h ">
              <div class="diemduthi-h">
                <div class="title">Danh sách điểm dự thi và số lượng thí sinh mỗi điểm</div>
              </div>
              <div class="diemduthi-body">
                <div class="checkbox-layout-form-parent">
                  <div *ngFor="let item of dmDiemduthi" class="checkbox-layout-form">
                    <mat-checkbox [checked]="item['checked']" (change)="onSekectDiemthi($event, item)"
                                  [value]="item['id'].toString()">{{ item['title'] }}
                    </mat-checkbox>
                  </div>
                </div>

              </div>
              <div class="diemduthi-bottom">
                <button pRipple pButton label="Thêm" icon="pi pi-plus" (click)="createNew()"></button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate>
            <div class="diemduthi-size-h ">
              <div class="diemduthi-h">
                <div class="title">Danh sách điểm dự thi và số lượng thí sinh mỗi điểm</div>
                <button pRipple pButton icon="pi pi-sync" (click)="reLoad()"> </button>
              </div>
              <div class="diemduthi-body">
                <div class="ovic-ui-table">
                  <!--              <div >-->
                  <p-table [value]="kehoachthiDiemduthi"
                           styleClass="tb-thpt tbl-danhSachUser table-scroll-able ovic-ui-table table-border table-able-dropdown-p-table table-none-header">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="text-center ovic-w-50px">STT</th>
                        <th class="text-center ">Tên điểm dự thi</th>
                        <th class="text-center ovic-w-100px">Số lượng thí sinh</th>
                        <th class="text-center ovic-w-100px">Thao tác</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                      <tr>
                        <td class="text-center">{{ row['_index'] }}</td>
                        <td class="text-left">{{ row['_title'] }}</td>
                        <td class="text-center">
                          <input  type="text" class="inputSoluong"  #inputSoluong
                                 (keyup)="saveSoluongByDiemduthi($event, row, rowIndex)"
                                 (keydown)="pointQuestionKeyDown($event,inputSoluong)"
                                 [(ngModel)]="row['soluong']">
                          {{inputSoluong | focusInput : index_focus : row.id}}
                        </td>
                        <td class="text-center">
                          <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
                                  (click)="deleteItem(row)"></button>
                        </td>

                      </tr>




                    </ng-template>
                    <ng-template pTemplate="emptymessage">

                      <tr>
                        <td colspan="7">Không có dữ liệu</td>
                      </tr>


                    </ng-template>
                  </p-table>
                </div>

              </div>
              <div class="diemduthi-bottom">
                <p-paginator #paginator class="pani-h-by-class" [showCurrentPageReport]="true" [rows]="limit"
                             [totalRecords]="recordTotal"
                             [pageLinkSize]="5" (onPageChange)="paginate($event)"></p-paginator>

              </div>
            </div>

          </ng-template>
        </p-splitter>

      </div>

    </ng-container>
  </ng-container>


</div>
