.monthi_item{
  padding: 3px 6px;
  border-radius: 4px;
  background: #f3d48d;
  font-weight: 400;
  font-size:13px;
}
.monthi_item:nth-child(even){
  background: #fbafaf;
}


.tt-hover:hover{
  color: #1231c9;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #1231c9;
}

.ovic-wrap-table-rps{
  width:100%;
  display: block;
  overflow-x: auto;
}

.ovic-wrap-table-rps__inner{
  display: block;
  width: 100%;
  min-width: 1400px;
}


.hsk{
  color:#fff;
  padding: 5px 10px;
  display: inline;
  font-size: 14px;
  border-radius:10px;
}
.hsk.hsk1{
  background: #e3650b;
}
.hsk.hsk2{
  background: #e68e0e;
}
.hsk.hsk3{
  background: #8dcc2a;
}
.hsk.hsk4{
  background: #3389f8;
}
.hsk.hsk5{
  background: #d50be3;
}
.hsk.hsk6{
  background: #e92222de;
}
