.pt-ts-container{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;

}
.pt-ts_head{
  height:60px;
}
.pt-ts_body{
  flex: 1 1 auto;
  height: 1%;
  overflow: hidden;
  overflow-y: auto;

}
.pt-ts_bottom{
  font-size:14px;
  padding:10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
