<ng-container [ngSwitch]="ngType">
  <ng-container *ngSwitchCase="0">
    <div class="dk-container" >
      <div class="dk-header">
        <div class="dk_header-left">
          <button pButton pRipple class="border-radius-0" [ngClass]="typeView === 1 ? 'p-button-primary' : 'ovic-button-none-selected'" label="Danh sách thanh toán " (click)="btrSwitchType(1)"></button>
          <button pButton pRipple class="border-radius-0" [ngClass]="typeView === 2 ? 'p-button-primary' : 'ovic-button-none-selected'" label="Import danh sách thanh toán" (click)="btrSwitchType(2)"></button>
        </div>
        <div class="dk_header-right">
          <ng-container [ngSwitch]="typeView">
            <ng-container *ngSwitchCase="1"></ng-container>
            <ng-container *ngSwitchCase="2">
              <a href="assets/files/file-mau.xlsx" download="file-mau.xlsx">
                <button pRipple pButton class="border-radius-0" label="Tải file mẫu" icon="pi pi-download">
                </button>
              </a>
              <button class="btn_upload_excel" (click)="inputFile()">
                <span class="text_in_line" *ngIf="file_name else notFile">{{ file_name }}</span>
                <ng-template #notFile>
                  <i class="fi fa fa-paperclip" aria-hidden="true"> Upload file</i>
                </ng-template>
              </button>

              <button pButton pRipple icon="pi pi-wallet" label="Thực hiện đăng ký" class="p-button-success h-100 border-radius-0"
                      (click)="btnSubmitData()"></button>
              <!--      <button pButton pRipple icon="pi pi-save" label="Ghi đè dữ liệu " class="p-button-success h-100 border-radius-0"></button>-->
              <button pButton pRipple icon="pi pi-times" label="Reset" class="p-button-secondary h-100 border-radius-0"
                      (click)="btnReset()"></button>
            </ng-container>
          </ng-container>

        </div>
      </div>
      <div class="dk-body">
        <ng-container [ngSwitch]="typeView">
          <ng-container *ngSwitchCase="1">
            <div class="w-100 " style="height:calc(100% - 2px);">
              <div class="row h-100">
                <div class="col-12 ovic-ui-table site-thpt" style="height:calc(100%)"
                     [class.ovic-is-loading]="isLoading">
                  <div class="p-datatable-header" style="height:65px; border-bottom:1px solid #CCC;">
                    <h3 class="tbl-title ">Kết quả đăng ký</h3>
                    <div class="search-block ui-table-globalfilter-container ">
                      <div class="d-flex align-items-center">
                        <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
                          <div class="d-flex" style="gap:10px;">
                            <div>
                              <p-dropdown placeholder=" Chọn đợt thi... " [options]="kehoanhThiAll" optionLabel="dotthi" [showClear]="true"
                                          optionValue="id" [(ngModel)]="dothi_id" (onChange)="selectkehoachthiBySiteKetqua($event.value)"></p-dropdown>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ovic-wrap-table-rps ovic-scroll-style overflow-hidden overflow-y-auto"
                       style="height:calc(100% - 65px - 60px );background: #dedede;">
                    <div class="ovic-wrap-table-rps__inner">
                      <p-table styleClass="p-datatable-gridlines" [value]="listData"
                               [rowHover]="true"
                               [rows]="rows" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                               [loading]="isLoading">
                        <ng-template pTemplate="header" class="d-bock">
                          <tr>
                            <th class="ovic-w-40px text-center ">STT</th>
                            <th class="text-left">Đơn vị</th>
                            <th class=" text-center ">Đợt đăng ký</th>
                            <th class="ovic-w-180px text-center">Ngày đăng ký</th>
                            <th class="ovic-w-180px text-center">Ngày thanh toán</th>
                            <th class="ovic-w-120px text-center">Số lượng đăng ký</th>
                            <th class="ovic-w-120px text-center">Tổng tiền</th>
                            <th class="ovic-w-200px text-center">Trạng thái thanh toán</th>
                            <th class="ovic-w-140px text-center">Thao tác</th>
                          </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-item >
                          <tr>
                            <td class="text-center">{{ item['__index_table'] }}</td>
                            <td class="text-left">{{ item['__donviName'] }}</td>
                            <td class="text-center">{{ item['__dotthi_coverted'] }}</td>
                            <td class="text-center">{{ item['__ngay_dangky'] }}</td>
                            <td class="text-center">{{ item['__ngay_thanhtoan'] }}</td>
                            <td class="text-center">{{ item['__recordsTotal'] }}</td>
                            <td class="text-right">{{ item.lephithi | numberToVndCurrencuy }}</td>
                            <td class="text-center">
                              <ng-container [ngSwitch]="item['trangthai_thanhtoan']">
                                <ng-container *ngSwitchCase="0">
                                  <div class="chuathanhtoan">Chưa thanh toán</div>
                                </ng-container>
                                <ng-container *ngSwitchCase="1">
                                  <div class="dathanhtoan">Đã thanh toán</div>
                                </ng-container>
                                <ng-container *ngSwitchCase="2">
                                  <div class="chothanhtoan">Chờ thanh toán</div>
                                </ng-container>
                              </ng-container>
                            </td>

                            <td class="text-center">
                              <ng-container *ngIf="item.trangthai_thanhtoan ===1 else chuathanhtoan">
                                <button pRipple pButton [pTooltip]="'Danh sách thí sinh đăng ký'" [tooltipPosition]="'top'" icon="pi pi-users" class=" ml-1" (click)="btnViewThisinhBydangky(item)"></button>
                              </ng-container>
                              <ng-template #chuathanhtoan>
                                <button pRipple pButton [pTooltip]="'Danh sách thí sinh đăng ký'" [tooltipPosition]="'top'" icon="pi pi-users" class=" ml-1" (click)="btnViewThisinhBydangky(item)"></button>
                                <button pRipple pButton [pTooltip]="'Thực hiện thanh toán'" [tooltipPosition]="'top'" icon="pi pi-credit-card" class="p-button-warning ml-1" (click)="btnItemPayment(item)"></button>
                                <button pRipple pButton [pTooltip]="'Xoá đăng ký'" [tooltipPosition]="'top'" icon="pi pi-trash" class="p-button-danger ml-1" (click)="btnDeleteItem(item)"></button>
                              </ng-template>
                            </td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                          <tr>
                            <td colspan="14">
                              Không có dữ liệu thí sinh!
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                  <p-paginator class="duthi_panigator" [showCurrentPageReport]="true" [rows]="rows"
                               [totalRecords]="recordTotal" [pageLinkSize]="5"
                               (onPageChange)="paginate($event)"></p-paginator>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <p-table styleClass="p-datatable-gridlines" [value]="ketquaImportView"
                     [rowHover]="true"
                     [rows]="ketquaImportView.length" [showCurrentPageReport]="true"
                     [loading]="isLoading">
              <ng-template pTemplate="header" class="d-bock">
                <tr>

                  <th class="ovic-w-40px text-center ">STT</th>
                  <th class="stext-center ">Họ tên</th>
                  <th class="ovic-w-100px text-center ">Họ tên tiếng trung</th>
                  <th class="ovic-w-80px text-center">Loại giấy tờ</th>
                  <th class="ovic-w-40px text-center">Loại giấy tờ khác</th>
                  <th class="ovic-w-80px text-center">Số giấy tờ </th>
                  <th class="ovic-w-80px text-center">Giới tính</th>
                  <th class="ovic-w-100px text-center">Ngày sinh</th>
                  <th class="ovic-w-100px text-center">Số điện thoại</th>
                  <th class="ovic-w-100px text-center">Email</th>
                  <th class="ovic-w-80px text-center">Năm học tiếng trung</th>
                  <th class="ovic-w-80px text-center">Loại thí sinh</th>
                  <th class="ovic-w-100px text-center">HSKK cấp</th>
                  <th class="ovic-w-100px text-center">Thao tác</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>
                  <td class="text-center"> {{i + 1}}</td>
                  <td class="text-center">{{ item.hoten }}</td>
                  <td class="text-center">{{ item.hoten_tiengtrung }}</td>
                  <td class="text-center">{{ item.loai_giayto }}</td>
                  <td class="text-center">{{ item.loai_giaytokhac }}</td>
                  <td class="text-center">{{ item.cccd_so }}</td>
                  <td class="text-center">{{ item.gioitinh }}</td>
                  <td class="text-center">{{ item.ngaysinh }}</td>
                  <td class="text-center">{{ item.phone }}</td>
                  <td class="text-center">{{ item.email }}</td>
                  <td class="text-center">{{ item.namhoc_tiengtrung }}</td>
                  <td class="text-center">{{ item.loai_unngvien }}</td>
                  <td class="text-center">{{ item.hskk_lever }}</td>
                  <td class="text-center">
                    <button pRipple pButton icon="pi pi-trash" class="p-button-danger" (click)=" delelteItemImport(item)" ></button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="20">
                    Không có dữ liệu thí sinh!
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
        </ng-container>




      </div>

    </div>


  </ng-container>
  <ng-container *ngSwitchCase="-1">
    <div class="w-100 d-flex flex-column justify-content-center align-items-center" style="height:calc(100vh - 90px)">
      <!--      <div class="w-100 d-flex flex-column justify-content-center align-items-center" style="height:100%">-->
      <div>
        <i class="pi pi-spin pi-spinner" style="font-size: 4rem"></i>
      </div>
      <div style="padding:12px;font-size: 16px;"> Đang chờ thanh toán</div>

      <button pRipple pButton icon="pi pi-sign-out" class="p-button-raised p-button-warning"
              label="Truy cập kết quả đăng ký" (click)="btnchecksite()"></button>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="1">
    <!--      <div class="w-100 d-flex flex-column justify-content-center align-items-center" style="height:calc(100vh - 90px)">-->
    <div class="w-100 d-flex flex-column justify-content-center align-items-center" style="height:calc(100vh - 90px)">
      <div>
        <i class="pi pi-check-circle p-button-success" style="font-size: 4rem;color:#1baf08;"></i>
      </div>
      <div style="padding:12px;font-size: 16px;"> Thanh toán thành công</div>

      <button pRipple pButton icon="pi pi-sign-out" class="p-button-raised p-button-success"
              label="Truy cập kết quả đăng ký" (click)="btnchecksite()"></button>
    </div>
  </ng-container>
</ng-container>


<p-dialog header="Thông báo" [(visible)]="modalAddOrder" [modal]="true" [style]="{width: '60vw', height:'80vh'}"
          [draggable]="false" [resizable]="false">
  <div class="content ovic-scroll-style">
    <div class="notifi">
      <div class="notifi-title">
        Bạn đang đăng ký thi HSK cho {{ketquaImportView.length}}, vui lòng thực hiện thanh toán để hoàn thành đăng ký thi
      </div>
      <div class="notifi-body ">
        <div class="notifi-body_left" >
          <p>Lưu ý:</p>
          <p>- Khi thực hiện đăng ký vui lòng đảm bảo rằng thiết bị sử dụng có kết nối mạng, điện ổn định. Mọi trường hợp tắt máy tính, ngắt kết nối mạng, tắt điện, tắt trình duyệt... sẽ dẫn đến đăng ký không thành công.</p>
          <p>- sau hệ thống thực hiện đăng ký thông tin cho thí sinh trên hệ thống xong, vui lòng thực hiện thanh toán ngay để giữ chỗ cho thí sinh.</p>
        </div>
        <div class="notifi-body_right">
          <div  class="ovic-ui-table site-thpt">
            <p-table styleClass="p-datatable-gridlines" [value]="dmCapdo" [rowHover]="true" [loading]="isLoading">
              <ng-template pTemplate="header" class="d-bock">
                <tr>
                  <th class="text-center" >STT</th>
                  <th class="text-center" >Cấp độ</th>
                  <th class="text-center" >Giá</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr >
                  <td class="text-center" >{{item['_index']}}</td>
                  <td class="text-center" >{{item.title}}</td>
                  <td class="text-center" >{{item.gia| numberToVndCurrencuy}}</td>
                </tr>
              </ng-template>


            </p-table>
          </div>
        </div>
      </div>
      <div class="notifi-line">
        <div class="line"></div>
        <div class="title"> Kiểm tra dữ liệu </div>
      </div>
      <div class="notifi-check">
        <div class="d-flex justify-content-center align-items-center" style="gap:10px">
          <button pButton pRipple [loading]="notifi_loadding" icon="pi pi-check-square" label="Kiểm tra dữ liệu" (click)="checkthisinhAffterImport()"></button>
          <div class="drd">
            <p-dropdown class="capdo-hsk bd-rd-0 ovic-w-150px" placeholder="Chọn đợt thi đăng ký" [options]="kehoanhThi" optionLabel="dotthi"
                        optionValue="id" (onChange)="changeKehoachthi($event)"></p-dropdown>
          </div>
        </div>
        <div class="view-list-check" *ngIf="listCheckResult.length>0">
          <span>Hệ thống ghi nhận có <strong style="color: #0ba50b">{{listCheckResult.length }} </strong> thông tin đăng ký phù hợp, <strong style="color: #d61919">{{((this.ketquaImportView.length - listCheckResult.length) >=0 ? (this.ketquaImportView.length - listCheckResult.length) : 0 )}}</strong> thông tin không phù hợp</span>
        </div>
        <div class="view-table" *ngIf="tableCapdo">
          <div class="title"> SỐ lượng được phép up lên còn lại</div>
          <table class="site-hsk">
            <tr >
              <th class="text-center font-weight-bold" *ngFor="let item of tableCapdo">{{item['_title']}}</th>
            </tr>
            <tr >
              <td class="text-center " *ngFor="let item of tableCapdo" [ngClass]=" item['__remaining'] >0 ? ' view-true' : 'view-false'">{{item['__remaining']}}</td>
            </tr>
          </table>
          <div *ngIf="!checkTabelCapdo" class="text-center p-4" ><span style="color:red"><strong>Lưu ý: </strong></span> Danh sách thí sinh bạn import có số lượng đăng ký không phù hợp, vui lòng kiểm tra lại file trước khi import vào phần mềm </div>
        </div>
      </div>


      <div *ngIf="checkTabelCapdo && listCheckResult.length>0" class="notifi-view-payment">
<!--      <div *ngIf="listCheckResult.length>0" class="notifi-view-payment">-->
        <div class="notifi-line">
          <div class="line"></div>
          <div class="title"> Thực hiện thanh toán </div>
        </div>
        <div class="notifi-payment">
          <div class="notifi-payment_left" >
            <div class="table-payment">
              <table class="w-100">
                <tr>
                  <th>Cấp HSK </th>
                  <th class="text-center ovic-w-100px">Số lượng </th>
                  <th class="text-center ovic-w-140px">Đơn giá </th>
                  <th class="text-center ovic-w-140px">Thành tiền </th>
                </tr>
                <tr *ngFor="let item of ketquaImportViewPayment">
                  <td>{{item['_capdo_hsk_convent']}}</td>
                  <td class="text-center">{{item['soluong']}}</td>
                  <td class="text-right">{{item['_dongia'] |numberToVndCurrencuy}}</td>
                  <td class=" text-right">{{item['_thanhtien'] |numberToVndCurrencuy}}</td>
                </tr>
                <tr style="border-top: 1px solid #ccc;">
                  <td colspan="3">Tổng</td>
                  <td class="text-right border-top-1">{{ getTotalThanhtien(ketquaImportViewPayment,'_thanhtien') |numberToVndCurrencuy}}</td>
                </tr>
              </table>
            </div>

          </div>
          <div class="notifi-payment_right">
<!--            <div class="drd">-->
<!--              <p-dropdown class="capdo-hsk bd-rd-0 ovic-w-150px" placeholder="Chọn đợt thi đăng ký" [options]="kehoanhThi" optionLabel="dotthi"-->
<!--                          optionValue="id" (onChange)="changeKehoachthi($event)"></p-dropdown>-->
<!--            </div>-->
            <div class="checkbox">
              <div>
                <div class="field-checkbox">
                  <p-checkbox [(ngModel)]="check_accept" [binary]="true" inputId="binary" ></p-checkbox>
                  <label class="m-0 pl-1">Xác nhận thanh toán</label>
                </div>
              </div>
              <ng-container *ngIf="check_accept else patmentTemPlace">
                <button pButton pRipple label="Xác nhận" (click)="btnPayment()" class="p-button-success"></button>
              </ng-container>
              <ng-template #patmentTemPlace>
                <button pButton pRipple label="Xác nhận"  class="p-button-success p-disabled"></button>
              </ng-template>

            </div>

          </div>
        </div>
      </div>

    </div>
    <div >

    </div>
  </div>
</p-dialog>

<ng-template  #fromViewRegiter>
  <div class="ovic-side-navigation-content">
    <div class="ovic-side-navigation-content__head">
      <h4 class="ovic-side-navigation-content__head__title">DANH SÁCH THÍ SINH</h4>
      <button (click)="closeForm()" pButton pRipple type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-text close ovic-side-navigation-content__head__btn-close"></button>
    </div>
    <div class="ovic-side-navigation-content__body ovic-scroll-style --no-footer">
        <app-thi-sinh-by-dang-ky [orderParent]="orderParent"></app-thi-sinh-by-dang-ky>
    </div>
  </div>
</ng-template>

