.siteAdd{
  height: calc(100vh - 90px);
  background: #f6f6f6;
  display:flex;
  justify-content: center;
  align-items: center;
}
.siteAll{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:8px;
}
.site-left{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 90px);
  box-shadow: 1px 1px 1px 1px #ccc;


}
.site-left_top{
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 1px 1px #ccc;
  background: #fff;
  padding: 0 12px;
  gap:12px;
}
.site-left_top .left,.right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 10px;
  font-weight: 400;
}
.site-left_top .right>div{
  font-size: 18px;
  padding: 6px 10px;
  background: #ffd7d7;
  border-radius: 1122px;
  color: red;
}
.site-left_body{
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.site-left_body div{
  border-left:2px solid tomato;
  margin-left: 10px;
  width: calc(100% - 10px);
}

.site-left_bottom{
  height:1px;
  flex:  1 1 auto;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  padding:8px;
  gap:10px

}
.itemForImport{
  /*width:calc(100%/5);*/
  padding:7px;
  /*margin-left: -5px;*/
  /*margin-right: -5px;*/
  min-width: 200px;
  /*height:330px;*/
  border: 1px solid #CCCCCC;
  height:454px;
  border-radius: 10px;
  box-shadow: 1px 0px 3px;
}

.itemForImport .img_left{}
.itemForImport .img_right{
  margin-top: 10px;
}
.itemForImport img{
  width:100%;
}
/*.itemForImport .img{*/
/*  width:100%;*/
/*}*/

.itemForImport .name{
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 44px;
  word-break: break-all;
  text-align: center;
  line-height: 20px;

}
.site-right{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;;
}
.site-right_content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1440px) {
  .site-left_bottom .itemForImport{
    width: calc(100%/6);
  }
}

@media (max-width: 1205px) {
  .site-left_bottom .itemForImport{
    width: calc(100%/5);
  }
}
@media (max-width: 1024px) {
  .site-left_bottom .itemForImport{
    width: calc(100%/4);
  }
}
@media (max-width: 875px) {
  .site-left_bottom .itemForImport{
    width: calc(100%/3);
  }
}
@media (max-width: 425px) {
  .site-left_bottom .itemForImport{
    width: calc(100%/2);
  }
}
