<input type="file" [accept]="accept" [multiple]="multiple" (change)="onSelectFiles($event)" #fileChooser hidden="true"/>

<div class="siteAdd">

  <ng-container [ngSwitch]="ngSite">

    <ng-container *ngSwitchCase="0">
      <div class="siteAll">
        <button pButton pRipple icon="pi pi-upload" label="Tải file lên " (click)="openFileChooser()"></button>
        <div style="font-size: 20px">Vui lòng chọ tải file để thực hiện upload file </div>
        <div style="font-size: 20px ;color: #f62500;">
          *Lưu ý: hệ thống chỉ nhận file có định dạng <b>'.zip'</b>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="1">
      <p-splitter class="w-100 h-100" [panelSizes]="[65, 35]"  >
        <ng-template pTemplate>
          <div class="site-left" >
            <div class="site-left_top" >
              <div class="left">
                <button pRipple pButton class="btn_anger_left" icon="pi pi-angle-left" (click)="btnReturn()"></button>
                <span *ngIf="fileSelect"> {{fileSelect.name}}</span>
              </div>
              <div class="right">
                <div *ngIf="fileListImport.length>0">Hệ thống ghi nhận có: <strong>{{fileListImport.length +' ảnh thí sinh'}}</strong></div>
              </div>
            </div>
            <!--        <div class="site-left_body">-->
            <!--          <div *ngIf="fileListImport.length>0"> {{'Hệ thống ghi nhận có: ' + fileListImport.length +' file ảnh' }}</div>-->
            <!--        </div>-->
            <div class="site-left_bottom">
              <div *ngFor="let item of fileListImport" class="itemForImport">
                <img [src]="item.base64" alt="">
                <div class="name"> {{item.file.name}}</div>
              </div>
            </div>
          </div>

        </ng-template>
        <ng-template pTemplate>
          <div class="site-right">
            <div class="site-right_content">
              <div class="loadding">
                <button pButton pRipple [loading]="isLoading" icon="pi pi-list" label="Kiểm tra dữ liệu" (click)="btnCheckInfo()"></button>
              </div>

              <div *ngIf="viewInfoFind" class="d-flex justify-content-center align-items-center flex-column">
                <div style="padding: 10px;font-size: 20px;"> Hệ thống ghi nhận <span ><strong style="color: #06a806;">{{infoFindByFile.length}}</strong></span> thí sinh có thông tin đúng với CCCD (Hộ chiếu)'</div>
                <button pRipple pButton class="p-button-warning"  label="Thực hiện cập nhật dữ liệu ảnh cho thí sinh" (click)="updateImageforThisinh()"></button>
              </div>


            </div>
          </div>

        </ng-template>
      </p-splitter>

    </ng-container>
  </ng-container>

</div>


