
.mes-3item {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  color: red;
  background: #ebc0c0;
}
.in_table{
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #393939;
  width: 100%;
  text-align:center;
  padding: 4px;
}
.in_table:focus{
  box-shadow: none;
}
