.spinner-2 {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 12px solid lightblue;
  border-right-color: orange;
  animation: s2 1.5s infinite linear;
}

@keyframes s2 {
  to {
    transform: rotate(1turn)
  }
}

.error-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #f93d3d;
  height: 100%;
}

.error-loading i {
  font-size: 76px;
}

.text-loading {
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.affter-upload {
  background: #ededed;
  border: 2px dashed #ccc;
  flex-direction: column;
  gap: 13px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.affter-upload:hover {
  background: #f1efef;
  cursor: pointer;
}

.affter-upload i {
  font-size: 38px;
}


.upload-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.upload-head {
  height: 60px;
  background: #fff;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 3px 1px #CCC;
  z-index: 1;

}

.upload-head_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.upload-head_left span {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  color: #333333;
  text-transform: uppercase;
}

.upload-head_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.upload-head_right .text {
  height: calc(100% - -50px);
  background: #ededed;
  padding: 4px 6px;
  border: 2px dashed #ccc;
  /* max-width: 300px; */
  width: 180px;
  font-size: 16px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


}

.upload-body {
  flex: 1 1 auto;
  height: 1%;
  overflow: auto;
  background: #cdcdcd;
}

.upload-foot {
  height: 60px;
  background: #fff;
  box-shadow: 0 0 3px 1px #CCC;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.upload-foot_title{
  height: 100%;
  padding: 10px;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.text_in_line {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ovic-wrap-table-rps{
  width:100%;
  display: block;
  /*overflow-x: auto;*/
}

.ovic-wrap-table-rps__inner{
  display: block;
  width: 100%;
  min-width: 100%;
}
