.diemduthi-container{
  display: flex;
  flex-direction: row;
  width:100%;
  height:100%;

}

.diemduthi-size-h{
  display:flex ;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: #fbfbfb;
}


.diemduthi-h{
  height: 40px;
  border-bottom: 1px solid #ccc;
  background: #fff;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  justify-content: space-between;
}

.diemduthi-h button{
  width:30px;
  height:30px;
  margin-right:5px;
}
.diemduthi-body{
  height: 1%;
  flex : 1 1 auto;
  overflow: hidden;
  overflow-y: auto;
}

.diemduthi-bottom{
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ccc;
  background: #fff;
}


.checkbox-layout-form-parent{
  display:flex;
  flex-wrap: wrap;
  gap:10px;
  width:100%;
  padding:10px;
}
/*.checkbox-layout-form{*/
/*  width: calc(100% / 4);*/
/*}*/

.inputSoluong{
  border-radius: 6px;
  border: 1px solid #ccc;
  text-align: center;
}
.inputSoluong:active{
  border: 1px solid #ccc;

}
.inputSoluong:hover{
  border: 1px solid #ccc;

}
